<ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav nav-tabs justify-content-center mb-3">
  <li ngbNavItem="json-path">
    <a ngbNavLink class="text-uppercase fw-semibold">JSONPath</a>
    <ng-template ngbNavContent>
      <div class="p-3">
        <app-title title="JSONPath" titleClass="h4" [uppercase]="true"></app-title>
        <app-pathfinder-utils [pathType]="'application/json'"></app-pathfinder-utils>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem="x-path">
    <a ngbNavLink class="text-uppercase fw-semibold">XPath</a>
    <ng-template ngbNavContent>
      <div class="p-3">
        <app-title title="XPath" titleClass="h4" [uppercase]="true"></app-title>
        <app-pathfinder-utils [pathType]="'text/xml'"></app-pathfinder-utils>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="border rounded bg-light p-3 shadow-sm"></div>
