<ng-container *ngIf="portfolios  && loaded">
  <div class="d-block mb-2" *ngIf="errors?.length">
    <div class="alert alert-danger mb-1" *ngFor="let error of errors">
      <fa-icon class="me-1" [icon]="['fas','warning']"></fa-icon>
      <span>Could not get {{error.tick.symbol}}. Error: {{error.error.message}}</span>
      <button class="btn btn-warning ms-1" (click)="deleteTick(error.tick)">Delete</button>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <div class="w-100 me-1">
      <app-select-portfolio [selectedPortfolio]="selectedPortfolio" [portfolios]="portfolios"
        (portfolioChanged)="onPortfolioChanged($event)"></app-select-portfolio>
    </div>
    <div ngbDropdown class="d-inline-block" container="body">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <fa-icon icon="exclamation"></fa-icon>&nbsp;Actions
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="openPortfolioModal()">
          <fa-icon [icon]="['fas','plus']"></fa-icon>
          New
        </button>
        <button ngbDropdownItem [disabled]="!selectedPortfolio" (click)="openPortfolioModal(selectedPortfolio)">
          <fa-icon [icon]="['fas','edit']"></fa-icon>
          Edit
        </button>
        <button ngbDropdownItem [disabled]="!selectedPortfolio" (click)="deletePortfolio(selectedPortfolio)">
          <fa-icon [icon]="['fas','times']"></fa-icon>
          Delete
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-block mb-2" *ngIf="selectedPortfolio && filteredTicks">
    <input type="search" class="form-control" placeholder="Filter..." (search)="filter($event)" (keyup)="filter($event)"
      appAutoFocus>
  </div>
  <div class="d-block" *ngIf="selectedPortfolio">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Symbol</th>
            <th class="d-md-table-cell d-none">Added Date</th>
            <th class="d-md-table-cell d-none">Initial Price</th>
            <th>Current Price</th>
            <th>
              <div class="d-flex justify-content-between">
                <span>Result</span>
                <a class="btn btn-link text-dark p-0" (click)="sortByDelta()">
                  <fa-icon size="xs" [icon]="['fas','arrow-down']" *ngIf="!sortAsc"></fa-icon>
                  <fa-icon size="xs" [icon]="['fas','arrow-up']" *ngIf="sortAsc"></fa-icon>
                </a>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!filteredTicks?.length">
            <td class="bg-light" colspan="5">No entries</td>
          </tr>
          <tr role="button" (click)="navigateToTick(t)" *ngFor="let t of (filteredTicks)">
            <td>{{t.symbol}}</td>
            <td class="d-md-table-cell d-none">{{t.addedDate | date: 'dd/MM/yyyy'}}</td>
            <td class="d-md-table-cell d-none">{{t.priceWhenAdded}}</td>
            <td *ngIf="!t.loading">{{t.currentPrice}}</td>
            <td *ngIf="!t.loading" [class.text-success]="t.delta > 0" [class.text-danger]="t.delta < 0">{{t.delta
              |number:'1.2-2'}}%
            </td>
            <td *ngIf="t.loading" colspan="2">
              <ngb-progressbar [value]="100" [striped]="true" [animated]="true" type="primary"></ngb-progressbar>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!loaded">
  loading...
</ng-container>
