<app-title title="GALLERY"></app-title>
<div class=" d-flex justify-content-between ">
  <ngb-pagination *ngIf="memzPage.totalPages > 1" [page]="pageNumber" [pageSize]="memzPage.size"
    [maxSize]="defaultPageSize" [collectionSize]="memzPage.totalElements" (pageChange)="load($event)">
  </ngb-pagination>
  <div>
    <a class="btn text-primary" (click)="openFormModal()">
      <fa-icon [icon]="['fas','plus']"></fa-icon>
    </a>
    <a class="btn text-danger" (click)="load()">
      <fa-icon [icon]="['fas','sync']"></fa-icon>
    </a>
  </div>
</div>


<ng-container *ngIf="memzPage && memzPage.size > 0">
  <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let memz of memzPage.content">
      <div class="image-carousel-overlay">
        <img [src]="memz.imageLink" class="image-carousel mx-auto" [attr.alt]="memz.title">
      </div>
      <div class="carousel-caption">
        <h3>{{memz.title}}</h3>
        <p *ngIf="memz.description != 'null' ">{{memz.description}}</p>

      </div>
      <div class="text-center bg-light">
        <a class="btn text-primary me-1" (click)="edit($event, memz)">
          <fa-icon [icon]="['fas','edit']"></fa-icon>
        </a>
        <a class="btn text-danger" (click)="delete($event, memz)">
          <fa-icon [icon]="['fas','trash']"></fa-icon>
        </a>
      </div>
    </ng-template>
  </ngb-carousel>


</ng-container>
<ng-container *ngIf="!memzPage || memzPage.empty">
  No content.
</ng-container>