.image-carousel{
  width: 50 vh;
  height: 70vh;
  max-width: 100%;
  opacity: 0.4;

  display: block;
}
.image-carousel-overlay {
  background-color: black;
  width: 50 vh;
  height: 75vh;
  max-width: 100%;

}