<div class="border-0 rounded p-3">
  <div class="col-12 mb-3 p-3 bg-light">
    <label for="data" class="form-label fw-semibold">Input Data</label>
    <textarea
      id="data"
      class="form-control no-focus resize-none"
      rows="10"
      [formControl]="html"
      placeholder="Paste your HTML data here"
    ></textarea>
  </div>
  <button (click)="htmlToTurtle()" class="btn btn-primary w-100 mt-1 mb-1">Run</button>
  <div class="col-12 mt-2" *ngIf="out">
    <p class="form-label fw-semibold">Out</p>
    <pre style="height: 40vh" class="bg-light p-3 border-0 rounded small text-ws-break hidden-scroll"
      >{{ out }}
        </pre
    >
  </div>
</div>
