<ng-container *ngIf="period">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">
      {{ period.date | date: 'dd/MM/yyyy' }} - {{ period.dayOfWeek?.toString() | trim: 3 }}
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="send()">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="autocomplete($event)" [disabled]="timesheetClosed">
          Auto <fa-icon icon="user-clock"></fa-icon>
        </button>
      </div>
      <div class="mb-2">
        <label class="col-sm-2 col-form-label" for="morningStartTime">Morning Start</label>
        <div class="input-group">
          <input type="time" class="form-control" id="morningStartTime" formControlName="morningStartTime"
            appAutoFocus />
          <button class="btn btn-primary" (click)="setTimeNow($event, 'morningStartTime')"
            [disabled]="form.controls.morningStartTime.disabled">
            <fa-icon icon="user-clock"></fa-icon>
          </button>
        </div>
      </div>
      <div class="mb-2">
        <label class="col-sm-2 col-form-label" for="morningEndTime">Morning End</label>
        <div class="input-group">
          <input type="time" class="form-control" id="morningEndTime" formControlName="morningEndTime" />
          <button class="btn btn-primary" (click)="setTimeNow($event, 'morningEndTime')"
            [disabled]="form.controls.morningEndTime.disabled">
            <fa-icon icon="user-clock"></fa-icon>
          </button>
        </div>
      </div>
      <div class="mb-2">
        <label for="afternoonStartTime">Afternoon Start</label>
        <div class="input-group">
          <input type="time" class="form-control" id="afternoonStartTime" formControlName="afternoonStartTime" />
          <button class="btn btn-primary" (click)="setTimeNow($event, 'afternoonStartTime')"
            [disabled]="form.controls.afternoonStartTime.disabled">
            <fa-icon icon="user-clock"></fa-icon>
          </button>
        </div>
      </div>
      <div class="mb-2">
        <label for="afternoonEndTime">Afternoon End</label>
        <div class="input-group">
          <input type="time" class="form-control" id="afternoonEndTime" formControlName="afternoonEndTime" />
          <button class="btn btn-primary" (click)="setTimeNow($event, 'afternoonEndTime')"
            [disabled]="form.controls.afternoonEndTime.disabled">
            <fa-icon icon="user-clock"></fa-icon>
          </button>
        </div>
      </div>
      <div class="mb-2">
        <label for="periodType">Type</label>
        <select (change)="checkTypeAndAutoComplete()" class="form-select" id="periodType" formControlName="periodType">
          <option *ngFor="let pt of periodTypes" [ngValue]="periodTypeClass[pt]">{{ periodTypeClass[pt] }}</option>
        </select>
      </div>
      <div class="mb-2">
        <label for="projectName">Project Name</label>
        <input type="text" class="form-control" id="projectName" formControlName="projectName" />
      </div>
      <div class="mb-2">
        <label for="shortDescription">Short description</label>
        <textarea class="form-control" id="shortDescription" formControlName="shortDescription" [autosize]></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid || timesheetClosed">Submit</button>
      </div>
    </form>
  </div>
</ng-container>
