<ng-container *ngIf="indicators$ | async as indicators">
  <div class="mb-2">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem="buildInfo" #buildInfo="ngbAccordionItem" [collapsed]="false">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Backend Info</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Build Time</strong>
              <strong>{{ indicators.buildInfo.build.time | date: 'dd/MM/yyyy HH:mm' }}</strong>
            </div>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Version</strong>
              <strong>{{ indicators.buildInfo.build.version }}</strong>
            </div>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Uptime</strong>
              <strong>{{ indicators.buildInfo['camel.uptime'] }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordionItem="diskSpace" *ngIf="indicators.healthIndicator.components?.diskSpace?.details as diskSpace">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Disk Space</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="font-weight-bold text-uppercase">Total</strong>
              <strong>{{ diskSpace.total | bytesToHuman: true }}</strong>
            </div>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Free</strong>
              <strong>{{ diskSpace.free | bytesToHuman: true }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="jms" *ngIf="indicators.healthIndicator.components?.jms as jms">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Artemis</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Status</strong>
              <strong>{{ jms.status }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="mail" *ngIf="indicators.healthIndicator.components?.mail as mail">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Mail</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Status</strong>
              <strong>{{ mail.status }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="mongo" *ngIf="indicators.healthIndicator.components?.mongo as mongo">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Mongo</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Status</strong>
              <strong>{{ mongo.status }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="redis" *ngIf="indicators.healthIndicator.components?.redis as redis">
        <div ngbAccordionHeader class="p-0">
          <button ngbAccordionButton>Redis</button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="d-flex justify-content-between">
              <strong class="text-uppercase">Status</strong>
              <strong>{{ redis.status }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
