<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Invoice <{{(invoice.newInvoiceNumber || invoice.invoiceNumber)|| 'New' }}>
        <ng-container *ngIf="invoice.imported">
          <ng-template #infoFrontend>
            Imported on {{invoice.importedDate | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
          <button (click)="$event.stopPropagation();" type="button"
            class="ps-0 ms-0  mt-0 pt-0 mb-0 pb-0 me-0 btn btn-link text-dark" [ngbTooltip]="infoFrontend"
            triggers="click:blur">
            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          </button>
        </ng-container>
    </span>

    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')">

    </button>
  </div>
  <div class="modal-body" *ngIf="invoiceForm">
    <form [formGroup]="invoiceForm" (ngSubmit)="send()">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [keyboard]="'changeWithArrows'">
        <li ngbNavItem>
          <a ngbNavLink>Invoice Info</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="newInvoiceNumber">Invoice number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="newInvoiceNumber" formControlName="newInvoiceNumber"
                    placeholder="Invoice number">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="invoiceNumber">Invoice reference</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="invoiceNumber" formControlName="invoiceNumber"
                    placeholder="Invoice reference" required="required">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="dateOfInvoice">Date of invoice</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="dateOfInvoice" formControlName="dateOfInvoice"
                    appAutoFocus>
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="taxRate">Tax Rate</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">%</div>
                    </div>
                    <input type="number" class="form-control" id="taxRate" formControlName="taxRate"
                      placeholder="Tax Rate">
                  </div>
                </div>
              </div>
              <div class="mb-1 row" *ngIf="invoice.subTotal">
                <label class="col-sm-2 col-form-label" for="subTotal">Subtotal</label>
                <div class="col-sm-10">
                  <input type="text" disabled class="form-control text-secondary bg-light" id="subTotal"
                    [value]="invoice.subTotal | currency:'€'">
                </div>
              </div>
              <div class="mb-1 row" *ngIf="invoice.taxes">
                <label class="col-sm-2 col-form-label" for="taxes">VAT</label>
                <div class="col-sm-10">
                  <input type="text" disabled class="form-control text-danger bg-light" id="taxes"
                    [value]="invoice.taxes | currency:'€'">
                </div>
              </div>
              <div class="mb-1 row" *ngIf="invoice.total">
                <label class="col-sm-2 col-form-label" for="total">Total</label>
                <div class="col-sm-10">
                  <input type="text" disabled class="form-control text-success bg-light" id="total"
                    [value]="invoice.total | currency:'€'" placeholder="total">
                </div>
              </div>
              <ng-container *ngIf="templates">
                <div class="mb-1 row" *ngIf="templates.length">
                  <label class="col-sm-2 col-form-label" for="freemarkerTemplateId">Template</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="freemarkerTemplateId" formControlName="freemarkerTemplateId">
                      <option [value]="null">Please select</option>
                      <option *ngFor="let template of templates" [value]="template.id">{{template.name}}</option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="specialNote">Special note</label>
                <div class="col-sm-10">
                  <textarea id="specialNote" [autosize]="true" class="form-control" formControlName="specialNote"
                    placeholder="Put a note here"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="uploadedManually"
                  formControlName="uploadedManually">
                <label class="form-check-label" for="uploadedManually">
                  Manual upload
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="locked" formControlName="locked">
                <label class="form-check-label" for="locked">
                  Locked
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="logicalDelete" formControlName="logicalDelete">
                <label class="form-check-label" for="logicalDelete">
                  Logical delete
                </label>
              </div>
              <div class="mb-1" *ngIf="uploadedManually && !locked && !logicalDelete">
                <label for="dd">Drop invoice</label>
                <ngx-file-drop dropZoneLabel="Drop invoice here" (onFileDrop)="drop($event)"
                  dropZoneClassName="flat bg-light d-block" accept=".pdf" [multiple]="false">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <button id="dd" class="btn btn-primary me-1" type="button" (click)="openFileSelector()">
                      <fa-icon [icon]="['fas','upload']"></fa-icon>
                    </button>
                  </ng-template>
                </ngx-file-drop>
                <p>{{file?.name}}</p>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Bill To</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <ng-container *ngIf="!invoice.locked">
                <div class="mb-1 row">
                  <label class="col-sm-2 col-form-label" for="selectedClient">Saved Clients</label>
                  <div class="col-sm-10">
                    <select id="selectedClient" class="form-select" (ngModelChange)="fillFromClient()"
                      formControlName="selectedClient">
                      <option [ngValue]="null">--Select--</option>

                      <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
                    </select>
                  </div>
                </div>
                <hr>
              </ng-container>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="billToClientName">Client Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="billToClientName" formControlName="billToClientName"
                    placeholder="Client Name">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="billToVatNumber">VatNumber</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="billToVatNumber" formControlName="billToVatNumber"
                    placeholder="VatNumber">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="billToAddress">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="billToAddress" formControlName="billToAddress"
                    placeholder="Address">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="billToCity">City</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="billToCity" formControlName="billToCity"
                    placeholder="City">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="billToEmailAddress">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="billToEmailAddress" formControlName="billToEmailAddress"
                    placeholder="Email Address">
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="maxDaysToPay">Max Days to pay</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="maxDaysToPay" formControlName="maxDaysToPay"
                    placeholder="Max Days to pay">
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Invoice Table</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <ng-container formArrayName="invoiceTableForm">
                <div class="bg-light p-1 mb-1" *ngFor="let _ of invoiceTableForm.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'projectName'+i">Project Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [id]="'projectName'+i" formControlName="projectName">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'nature'+i">Nature</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [id]="'nature'+i" formControlName="nature">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'period'+i">Period</label>
                      <div class="col-sm-10">
                        <input type="month" class="form-control" [id]="'period'+i" formControlName="period">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'amount'+i">Amount</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" [id]="'amount'+i" formControlName="amount">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'amountType'+i">Amount Type</label>
                      <div class="col-sm-10">
                        <select class="form-select" formControlName="amountType" [id]="'amountType'+i">
                          <option *ngFor="let type of getInvoiceType()" [selected]="type === _.get('amountType').value">
                            {{type}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'rate'+i">Rate</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" [id]="'rate'+i" formControlName="rate">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'rateType'+i">Rate Type</label>
                      <div class="col-sm-10">
                        <select class="form-select" formControlName="rateType" [id]="'rateType'+i">
                          <option *ngFor="let type of getInvoiceType()" [selected]="type === _.get('rateType').value">
                            {{type}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <div class="alert alert-warning" *ngIf="!invoiceForm.valid">
        <p>Invalid field: {{findInvalidControls() | json}}</p>
      </div>
      <div class="d-flex justify-content-end">
        <div ngbDropdown class="d-inline-block" container="body">
          <button class="btn btn-outline-primary me-1" id="dropdownBasic2" ngbDropdownToggle
            [disabled]="!invoice.invoiceUploadId" (click)="$event?.preventDefault()">Action</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button [disabled]="!invoice.invoiceUploadId" ngbDropdownItem (click)="download()">
              <fa-icon [icon]="['fas', 'download']"></fa-icon>&nbsp;Download
            </button>
            <button [disabled]="!invoice.timesheetId" ngbDropdownItem
              [routerLink]="['/timesheets/timesheet/'+invoice.timesheetId]">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>&nbsp;Timesheet
            </button>
            <button [disabled]="!invoice.invoiceUploadId" ngbDropdownItem (click)="sendMail()">
              <fa-icon [icon]="['fas', 'mail-bulk']"></fa-icon>&nbsp;Send
            </button>
            <button ngbDropdownItem [disabled]="!invoice.invoiceUploadId" (click)="openPdfViewer()">
              <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
              View as PDF
            </button>
          </div>
        </div>

        <button type="submit" class="btn  btn-primary"
          [disabled]="!invoiceForm.valid || invoice?.locked || invoice?.archived">Submit
        </button>

      </div>
    </form>

  </div>
</ng-container>
