<ng-container *ngIf="todos">
  <div class="card mb-2 border-1 shadow-sm">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
      <h6 class="m-0 fw-semibold text-secondary">Todo List(Ctrl+k)</h6>
      <button class="btn btn-sm btn-outline-secondary" (click)="toggleAddMode()">
        <fa-icon [icon]="isAdding ? 'times' : 'plus'"></fa-icon>
      </button>
    </div>

    <!-- New Todo Input -->
    <form
      *ngIf="isAdding"
      [formGroup]="newTodoForm"
      (ngSubmit)="saveNewTodo()"
      class="p-2 border-bottom d-flex justify-content-between align-items-center"
    >
      <input type="text" appAutoFocus class="form-control me-2" formControlName="title" placeholder="New todo..." />
      <button class="btn btn-link p-0" type="submit" [disabled]="newTodoForm.invalid">
        <fa-icon class="text-primary" icon="save"></fa-icon>
      </button>
    </form>

    <!-- List -->
    <div style="max-height: 49.5vh" class="overflow-auto hidden-scroll" *ngIf="todos.length; else emptyList">
      <ul class="list-group list-group-flush">
        <li *ngFor="let todo of todos" class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span [class.text-decoration-line-through]="todo.done">{{ todo.title }}</span>
            <button class="btn btn-link p-0" (click)="toggleDone(todo)">
              <fa-icon
                [class.text-success]="todo.done"
                [class.text-muted]="!todo.done"
                [icon]="['fas', todo.done ? 'check' : 'times']"
              ></fa-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #emptyList>
      <p class="text-muted text-center mb-0">Nothing to do.</p>
    </ng-template>
  </div>
</ng-container>
