<ng-container   *ngIf="todos$ | async as todos">
<div class="card mb-1">
  <div class="card-header">
    <strong class="text-secondary ">
      TODO
    </strong>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-outline-primary" (click)="openModal()">
        <fa-icon icon="edit"></fa-icon>
        Manage
      </button>
    </div>
    <ng-container >
      <ng-container *ngFor="let todo of todos">
        <div class="d-flex justify-content-between">
          <span>{{todo.title}}</span>
          <span>
              <button class="btn btn-link" (click)="toggleDone(todo)">
                <fa-icon [class.text-success]="todo.done" [class.text-danger]="!todo.done"
                         [icon]="['fas', todo.done ? 'check':'times']"></fa-icon>
              </button>
          </span>
        </div>
        <hr>
      </ng-container>
      <p *ngIf="!todos.length">Nothing to do.</p>
    </ng-container>
  </div>
</div>
</ng-container>