<div class="h-90 hidden-scroll" *ngIf="timesheet && timesheetSettings">
  <app-title
    [uppercase]="true"
    [title]="
      'Timesheet ' +
      (timesheet.monthEnum?.toString() | trim: 3 : false) +
      '/' +
      timesheet.year +
      (timesheet.clientName ? ' (' + timesheet.clientName + ')' : '')
    "
  >
  </app-title>
  <div class="d-flex justify-content-between pb-2">
    <a routerLink="/timesheets" class="btn btn-outline-primary me-1">
      <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
      Back
    </a>
    <div ngbDropdown class="d-inline-block mt-0" container="body">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <fa-icon icon="exclamation"></fa-icon>&nbsp;Actions
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="openSettings()">
          <fa-icon [icon]="['fas', 'dot-circle']"></fa-icon>&nbsp;Settings
        </button>
        <button ngbDropdownItem [disabled]="timesheet.closed" (click)="release()">
          <fa-icon [icon]="['fas', 'door-closed']"></fa-icon>&nbsp;Release
        </button>
        <button
          ngbDropdownItem
          [disabled]="timesheet.invoiceId?.length > 0 || !timesheet.closed || !timesheet.clientId || timesheet.student"
          (click)="generateInvoice()"
        >
          <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon>&nbsp;Generate invoice
        </button>
        <button
          ngbDropdownItem
          [disabled]="!timesheet.invoiceId || !timesheet.closed || !timesheet.clientId"
          (click)="openInvoice()"
        >
          <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon>&nbsp;Open invoice
        </button>
        <button ngbDropdownItem [disabled]="!timesheet.closed" (click)="reopen()">
          <fa-icon [icon]="['fas', 'book-open']"></fa-icon>&nbsp;Reopen
        </button>
        <button ngbDropdownItem [disabled]="!timesheet.closed" (click)="openPdfViewer()">
          <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
          View as PDF
        </button>
        <button ngbDropdownItem [disabled]="!timesheet.closed" (click)="download()">
          <fa-icon [icon]="['fas', 'download']"></fa-icon>&nbsp;Download
        </button>
        <button ngbDropdownItem [disabled]="!timesheet.closed" (click)="send()">
          <fa-icon [icon]="['fas', 'mail-bulk']"></fa-icon>&nbsp;Send
        </button>
        <button ngbDropdownItem [disabled]="timesheet.closed" (click)="delete()">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end pb-2">
    <strong>{{ timesheet.numberOfWorkingDays }} working days, {{ timesheet.numberOfHoursWorked }}h</strong>
  </div>
  <div class="row mb-2" [class.blur-modal]="demoMode">
    <div class="col-lg-3 d-md-inline-block col-12 mb-4">
      <ul class="list-group flat">
        <li
          role="button"
          class="list-group-item list-group-item-action"
          *ngFor="let t of tags"
          (click)="setFilter(t)"
          [class.active]="t.periodType === currentFilter?.toString()"
        >
          <fa-icon class="me-1" [icon]="['fas', 'circle']" [ngClass]="t.color"></fa-icon>{{ t.label | lowercase }}
        </li>
        <li
          role="button"
          class="list-group-item list-group-item-action"
          (click)="setFilter(null)"
          [class.active]="currentFilter === null"
        >
          <fa-icon class="me-1 text-secondary" [icon]="['fas', 'circle']"></fa-icon>all
        </li>
      </ul>
    </div>
    <div class="col-lg-9 col-12">
      <div style="height: 80vh" class="table-responsive">
        <table class="table table-bordered table-sm table-hover caption-top p-0">
          <thead>
            <tr>
              <th>Day</th>
              <th>Date</th>
              <th class="fit d-md-table-cell d-none">Morning Start</th>
              <th class="fit d-md-table-cell d-none">Morning End</th>
              <th class="fit d-md-table-cell d-none">Afternoon Start</th>
              <th class="fit d-md-table-cell d-none">Afternoon End</th>
              <th class="fit">Duration</th>
              <th class="fit"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="p-0 m-0"
              *ngFor="let period of periods"
              [class.table-info]="isToday(period)"
              [class.table-light]="isNotWorkday(period)"
              role="button"
              (click)="openPeriod(period)"
            >
              <td>
                <span class="me-1">
                  <fa-icon
                    [icon]="['fas', 'circle']"
                    [ngClass]="getTagForPeriodType(period.periodType).color"
                  ></fa-icon>
                </span>
                {{ period.dayOfWeek?.toString() | trim: 3 : false }}
              </td>
              <td>{{ period.date | date: 'dd/MM/yyyy' }}</td>
              <td class="d-md-table-cell d-none">{{ period.morningStartTime | date: 'HH:mm' }}</td>
              <td class="d-md-table-cell d-none">{{ period.morningEndTime | date: 'HH:mm' }}</td>
              <td class="d-md-table-cell d-none">{{ period.afternoonStartTime | date: 'HH:mm' }}</td>
              <td class="d-md-table-cell d-none">{{ period.afternoonEndTime | date: 'HH:mm' }}</td>
              <td class="fit" [ngClass]="validityColorDuration(period)" *ngIf="period.duration >= 0">
                {{ period.durationInHours }}h
              </td>
              <td *ngIf="period.duration < 0" class="fit bg-danger text-white">ERROR</td>
              <td class="fit p-0">
                <app-period-form
                  [student]="timesheet.student"
                  [settings]="timesheetSettings"
                  [timesheetId]="timesheet.id"
                  [timesheetClosed]="timesheet.closed"
                  [period]="period"
                  componentType="btn"
                  extraBtnClasses="border-0 m-0 p-2 btn-link"
                  (onSubmitForm)="load()"
                />
              </td>
            </tr>
            <tr *ngIf="!periods?.length">
              <td colspan="8">No result</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
