<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Edit password</span>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal?.dismiss('Cross click')">
      
    </button>
  </div>
  <div class="modal-body">
    <form class="mt-2" [formGroup]="editorForm" (ngSubmit)="send()" *ngIf="editorForm">
      <div class="mb-1">
        <input type="password" class="form-control mb-2" formControlName="password" placeholder="Password">
        <input type="password" class="form-control mb-2" formControlName="confirmPassword"
               placeholder="Confirm Password">
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="!editorForm.valid">Submit</button>
      </div>
    </form>

  </div>
</ng-container>

