@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

::ng-deep #htmlContent {
  padding: 5px;
}
::ng-deep .md-editor {
  border: 0;
  padding: 5px;
}

::ng-deep .btn-toolbar {
  display: flex;
  justify: between;
}

::ng-deep .btn-toolbar .btn-group .btn {
  border: 0;
}
