<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Current Bill To</span>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal?.dismiss('Cross click')">
      
    </button>
  </div>
  <div class="modal-body" *ngIf="currentBillToForm">
    <form [formGroup]="currentBillToForm" (ngSubmit)="send()">
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="billToClientName">Bill To Client Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="billToClientName" formControlName="billToClientName"
                 placeholder="Bill To Client Name">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="billToVatNumber">Bill To VatNumber</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="billToVatNumber" formControlName="billToVatNumber"
                 placeholder="Bill To VatNumber">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="billToAddress">Bill To Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="billToAddress" formControlName="billToAddress"
                 placeholder="Bill To Address">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="billToCity">Bill To City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="billToCity" formControlName="billToCity"
                 placeholder="Bill To City">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="maxDaysToPay">Max Days to pay</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="maxDaysToPay" formControlName="maxDaysToPay"
                 placeholder="Max Days to pay">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="projectName">Project Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="projectName" formControlName="projectName">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="rate">Rate</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="rate" formControlName="rate">
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="rateType">Rate Type</label>
        <div class="col-sm-10">
          <select class="form-select" formControlName="rateType" id="rateType">
            <option [value]="null">Select option...</option>
            <option *ngFor="let type of getInvoiceType()"
                    [selected]="type === currentBillToForm.get('rateType').value">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="billToEmailAddress">Bill To Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="billToEmailAddress" formControlName="billToEmailAddress"
                 placeholder="Bill To Email Address">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn  btn-primary"
                [disabled]="!currentBillToForm.valid">Submit
        </button>
      </div>

    </form>

  </div>
</ng-container>
