<ng-container *ngIf="form">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Default Prices</span>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal?.dismiss('Cross click')">
      
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="submit()">
      <ng-container formArrayName="defaultPrices">
        <div class="table-responsive"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Tag</th>
            <th>Price HVAT</th>
            <th>VAT</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let _ of defaultPrices.controls; index as i">
            <ng-container [formGroupName]="i">
              <td>
                <input type="text" class="form-control" [id]="'tag'+i" formControlName="tag">
              </td>
              <td>
                <input type="number" class="form-control" [id]="'priceHVAT'+i" formControlName="priceHVAT">
              </td>
              <td>
                <input type="number" class="form-control" [id]="'vat'+i" formControlName="vat">
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
</ng-container>

