<ng-container *ngIf="fee && tags">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">
      <fa-icon *ngIf="fee.tag" [icon]="['fas', 'circle']" [ngStyle]="getStyleForTag(fee)"></fa-icon>&nbsp;{{
        fee.subject | titlecase
      }}
      <ng-container *ngIf="fee.imported">
        <ng-template #infoFrontend> Imported on {{ fee.importedDate | date: 'dd/MM/yyyy HH:mm' }} </ng-template>
        <button
          (click)="$event.stopPropagation()"
          type="button"
          class="ps-0 ms-0 me-0 btn btn-link text-dark"
          [ngbTooltip]="infoFrontend"
          triggers="click:blur"
        >
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        </button>
      </ng-container>
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" [class.blur-modal]="demoMode">
    <form>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Metadata</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="mb-1">
                <label for="feeId">Id</label>
                <input [disabled]="true" type="text" class="form-control" id="feeId" [value]="fee.id" />
              </div>
              <div class="mb-1">
                <label for="receivedDate">Date received</label>
                <input
                  [disabled]="true"
                  type="text"
                  class="form-control"
                  id="receivedDate"
                  [value]="fee.date | date: 'dd/MM/yyyy HH:mm'"
                />
              </div>
              <div class="mb-1">
                <label for="updatedDate">Updated Date</label>
                <input
                  [disabled]="true"
                  type="text"
                  class="form-control"
                  id="updatedDate"
                  [value]="fee.updatedDate | date: 'dd/MM/yyyy HH:mm'"
                />
              </div>
              <div class="mb-1" *ngIf="fee.archivedDate">
                <label for="archivedDate">Archived Date</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  id="archivedDate"
                  [value]="fee.archivedDate | date: 'dd/MM/yyyy HH:mm'"
                />
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Body</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <textarea [autosize] [disabled]="true" class="form-control" id="body" [value]="fee.body"> </textarea>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Attachments</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="bg-light p-2" *ngIf="!fee.attachmentIds?.length">No Content.</div>
              <ul class="list-group" id="attachments" *ngIf="fee.attachmentIds.length">
                <li class="list-group-item" *ngFor="let a of fee.attachments">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link text-break" (click)="downloadAttachment($event, a)">
                      {{ a.originalFilename }}
                    </button>
                    <div class="btn-group">
                      <button
                        *ngIf="hasRoleAdmin"
                        class="btn btn-link"
                        [disabled]="fee.attachmentIds.length <= 1 || fee.archived"
                        (click)="removeAttachment($event, a)"
                      >
                        <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                      </button>
                      <button class="btn btn-link" *ngIf="isPdf(a)" (click)="openPdfViewer(a)">
                        <fa-icon [icon]="['fas', 'file-pdf']" class="text-secondary"></fa-icon>
                      </button>
                      <button class="btn btn-link" *ngIf="isXML(a)" (click)="openPdfViewer(a)">
                        <fa-icon [icon]="['fas', 'file-code']" class="text-secondary"></fa-icon>
                      </button>
                      <button class="btn btn-link" *ngIf="isImage(a)" (click)="openImageViewer(a)">
                        <fa-icon [icon]="['fas', 'file-image']" class="text-secondary"></fa-icon>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Costs</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <app-update-price
                [fee]="fee"
                [user]="user"
                (updatePriceSubmitted)="updatePrice($event)"
              ></app-update-price>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Tag</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <app-tag-form
                [hideCancelButton]="true"
                [selectedTag]="fee.tagId"
                [tags]="tags"
                [user]="user"
                (tagSubmitted)="updateTag(fee, $event)"
                [isDisabled]="fee.archived || !hasRoleAdmin"
              ></app-tag-form>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </form>
  </div>
</ng-container>
