<ng-container *ngIf="portfolio">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Portfolio ({{ portfolio.name ? portfolio.name : 'New' }})</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="portfolioForm">
    <form [formGroup]="portfolioForm">
      <div class="mb-1 row d-none">
        <label class="col-sm-2 col-form-label" for="portfolioId">Id</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="portfolioId" formControlName="portfolioId" placeholder="Id" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="portfolioName">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="portfolioName"
            formControlName="portfolioName"
            placeholder="Name (Minimum 5 characters)"
            min="5"
            required="required"
            appAutoFocus
          />
        </div>
      </div>
      <div class="mb-1 row" [class.d-none]="!portfolio.name">
        <label class="col-sm-2 col-form-label" for="dateCreation">Creation Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="dateCreation" formControlName="dateCreation" />
        </div>
      </div>
      <div class="mb-1 row" [class.d-none]="!portfolio.name">
        <label class="col-sm-2 col-form-label" for="updatedDate">Updated Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="updatedDate" formControlName="updatedDate" />
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-start">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="current" formControlName="current" />
          <label class="form-check-label" for="current"> Current </label>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button (click)="send()" class="btn btn-primary" [disabled]="!portfolioForm.valid">Submit</button>
      </div>
    </form>
  </div>
</ng-container>
