::ng-deep img {
  max-width: 100%;
  height: auto;
}

::ng-deep .md-editor-container {
  border: 0 !important;
}

::ng-deep .preview-panel {
  border: 0 !important;
  border-left: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  height: 100% !important;
}

::ng-deep .hljs {
  background-color: #f8f9fa;
}

::ng-deep .cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 200px;
  display: block;
}
::ng-deep .tooltip-inner {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  padding: 0;
  max-width: 100%;
}
