<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">{{ task?.customActionName || task?.title || 'New Task' }}</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="form" [class.blur-modal]="demoMode">
    <form [formGroup]="form" (ngSubmit)="send()">
      <div class="mb-1 row" *ngIf="!hasAction">
        <label class="col-sm-2 col-form-label" for="title">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title" appAutoFocus />
        </div>
      </div>
      <div class="mb-1 row" *ngIf="!hasAction">
        <label class="col-sm-2 col-form-label" for="description">Description</label>
        <div class="col-sm-10">
          <textarea
            [autosize]
            class="form-control pre-wrap"
            id="description"
            formControlName="description"
            placeholder="Description"
          ></textarea>
        </div>
      </div>

      <ng-container *ngIf="allowedActions">
        <div class="mb-1 row" *ngIf="hasAction">
          <label class="col-sm-2 col-form-label" for="action">Action</label>
          <div class="col-sm-10">
            <select class="form-select" id="action" formControlName="action">
              <option
                *ngFor="let allowedAction of allowedActions"
                [ngValue]="allowedAction"
                [selected]="allowedAction.key === task?.actionKey"
              >
                {{ allowedAction.title }}
              </option>
            </select>
            <div class="alert alert-info mt-2 mb-0" *ngIf="action">
              <fa-icon icon="info"></fa-icon>&nbsp;{{ action.description }}
            </div>
          </div>
        </div>
        <div class="mb-1 row" *ngIf="hasAction">
          <label class="col-sm-2 col-form-label" for="title">Custom Title</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="title"
              formControlName="customActionName"
              placeholder="Enter a custom title"
            />
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="actionParameters?.length && hasAction">
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="action">Parameters</label>
          <div class="col-sm-10">
            <ng-container formArrayName="actionParameters">
              <div class="bg-light p-1 mb-1" *ngFor="let _ of actionParameters.controls; index as i">
                <ng-container [formGroupName]="i">
                  <div class="mb-1">
                    <input type="text" class="form-control form-control-sm" [id]="'key' + i" formControlName="key" />
                  </div>
                  <ng-container *ngIf="isOption(_); else second">
                    <div class="mb-1">
                      <select
                        class="form-select form-control-sm"
                        [id]="'parameterValue' + i"
                        formControlName="parameterValue"
                      >
                        <option [ngValue]="null">--Select--</option>
                        <option *ngFor="let option of getOptions(_) | keyvalue" [value]="option.key">
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </ng-container>
                  <ng-template #second>
                    <div class="mb-1">
                      <textarea
                        *ngIf="isBigString(_)"
                        class="form-control resize-none form-control-sm"
                        rows="14"
                        placeholder="new java.util.ArrayList([1,2,3]).stream().mapToInt(i => parseInt(i)).sum()"
                        [id]="'parameterValue' + i"
                        formControlName="parameterValue"
                      >
                      </textarea>
                      <input
                        *ngIf="!isBigString(_)"
                        type="text"
                        class="form-control form-control-sm"
                        [id]="'parameterValue' + i"
                        formControlName="parameterValue"
                      />
                    </div>
                  </ng-template>

                  <small class="form-text" *ngIf="action">
                    <fa-icon icon="info"></fa-icon>&nbsp;{{ getDescription(_) }}
                  </small>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div class="mb-1 row" *ngIf="hasSpecificDate">
        <label class="col-sm-2 col-form-label" for="specificDate">Quick date select</label>
        <div class="col-sm-10">
          <select class="form-select" id="quickDateSelect" formControlName="quickDateSelect">
            <option [value]="null">Select quick date...</option>
            <option value="now">Now</option>
            <option value="1min">In one minute</option>
            <option value="1hour">In one hour</option>
            <option value="8hour">In 8 hours</option>
            <option value="nextMorning">Next morning</option>
            <option value="1day">In one day</option>
            <option value="1week">In one week</option>
            <option value="1month">In one month</option>
            <option value="nextFriday">Next Friday</option>
            <option value="nextSunday">Next Sunday</option>
          </select>
        </div>
      </div>
      <div class="mb-1 row" *ngIf="hasSpecificDate">
        <label class="col-sm-2 col-form-label" for="specificDate">Specific Time</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="specificDate" formControlName="specificDate" />
        </div>
      </div>
      <div class="mb-1 row" *ngIf="hasSpecificDate">
        <label class="col-sm-2 col-form-label" for="specificDate">Calendar time</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="calendarDate" formControlName="calendarDate" />
        </div>
      </div>
      <div class="mb-1 row" *ngIf="!hasSpecificDate">
        <label class="col-sm-2 col-form-label" for="cronExpression"
          >Cron
          <a class="btn btn-link text-dark p-0" (click)="openCronExpressionHelp()">
            <fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
          </a>
        </label>

        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="cronExpression"
            formControlName="cronExpression"
            placeholder="Cron Expression"
          />
        </div>
      </div>

      <div class="mb-1 row" *ngIf="task.nextDate">
        <label class="col-sm-2 col-form-label" for="nextDate">Next Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nextDate" formControlName="nextDate" placeholder="Next date" />
        </div>
      </div>
      <div class="mb-1 row" *ngIf="task.lastExecutionDate">
        <label class="col-sm-2 col-form-label" for="lastExecutionDate">Last Execution</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lastExecutionDate"
            formControlName="lastExecutionDate"
            placeholder="Last Execution Date"
          />
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="!form.valid">
        <p>Invalid field: {{ findInvalidControls() | json }}</p>
        <!-- <p>Cron expression: {{cronExpression}}</p>
        <p>Specific Date: {{specificDate}}</p> -->
      </div>
      <hr />

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="hasSpecificDate" formControlName="hasSpecificDate" />
        <label class="form-check-label" for="hasSpecificDate"> Specific Date </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="hasAction" formControlName="hasAction" />
        <label class="form-check-label" for="hasAction"> Has Action </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="disabled" formControlName="disabled" />
        <label class="form-check-label" for="disabled"> Disabled </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sendMail" formControlName="sendMail" />
        <label class="form-check-label" for="sendMail"> Mail </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sendSms" formControlName="sendSms" />
        <label class="form-check-label" for="sendMail"> Sms </label>
      </div>
      <div class="form-check form-check-inline" *ngIf="hasAction">
        <input class="form-check-input" type="checkbox" id="persistResult" formControlName="persistResult" />
        <label class="form-check-label" for="persistResult"> Persist result </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inAppNotification" formControlName="inAppNotification" />
        <label class="form-check-label" for="inAppNotification"> In App Notification </label>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-warning me-1" (click)="clone($event)" [disabled]="!task?.id">Clone</button>
        <button class="btn btn-danger me-1" (click)="delete($event)" [disabled]="!task?.id">Delete</button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!form.valid || (!specificDate && !cronExpression?.length)"
        >
          Submit
          <!-- todo bug with !specificDate && !cronExpression -->
        </button>
      </div>
    </form>
  </div>
</ng-container>
