<ng-container *ngIf="memoDates ">
  <div class="card mb-1 ">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <strong class="text-secondary">
          MEMO
        </strong>
        <a class="btn btn-link m-0 p-0" (click)="showAddForm()">
          <fa-icon icon="plus"></fa-icon>
        </a>
      </div>

    </div>
    <div class="card-body example-viewport">

      <ng-container>
        <ng-container *ngFor="let memo of memoDates">
          <div class="d-flex justify-content-between">
            <span *ngIf="memo.visible">{{memo.label }}</span>
            <span *ngIf="!memo.visible">{{ '*'.repeat(memo.label.length) }}</span>
            <strong><span class="d-lg-inline d-none">{{memo.dateSince | date: 'dd/MM/yyyy'}}
                - </span>{{memo.progresses.currentProgress.label | number}} days
            </strong>
            <div class="btn-group">
              <button class="btn btn-sm btn-link p-0 me-1" (click)="memo.visible = !memo.visible">
                <fa-icon class="text-muted" icon="eye"></fa-icon>
              </button>
              <button class="btn btn-sm btn-link p-0" (click)="delete(memo)">
                <fa-icon class="text-danger" [icon]="['fas','times']"></fa-icon>
              </button>
            </div>
          </div>
          <div class="progress" style="height: 20px;" *ngIf="memo.progresses.nextProgress">
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated text-white"
              role="progressbar" [style]="'width:' + memo.progresses.currentProgress.computedWidth + '%'">
              {{memo.progresses.currentProgress.computedWidth}}
              % - (Goal: {{memo.progresses.nextProgress.label}})
            </div>
            <div class="progress-bar bg-secondary text-white" role="progressbar"
              [style]="'width:' + (100 - memo.progresses.currentProgress.computedWidth) + '%'"></div>
          </div>
          <div class="progress" style="height: 20px;" *ngIf="!memo.progresses.nextProgress">
            <div class="progress-bar bg-success text-white" role="progressbar" [style]="'width:100%'">Success!</div>
          </div>
        </ng-container>

      </ng-container>
    </div>
  </div>
</ng-container>
