<app-title title="Clients" [uppercase]="true"></app-title>
<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-outline-primary" (click)="addOrEdit()">
    <fa-icon icon="plus"></fa-icon>
    Add
  </button>
</div>
<ng-container *ngIf="clients">
  <div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th class="d-md-table-cell d-none">Email</th>
          <th class="d-md-table-cell d-none">VAT N°</th>
          <th>Status</th>
          <th class="fit">actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let client of clients">
          <tr role="button" (click)="addOrEdit(client)">
            <td class="text-break">{{ client.name }}</td>
            <td class="d-md-table-cell d-none text-break">{{ client.emailAddress }}</td>
            <td class="d-md-table-cell d-none text-break">{{ client.vatNumber }}</td>
            <td class="text-break" [ngClass]="getContractStatusClasses(client.contractStatus)">{{ getContractStatus(client.contractStatus) }}</td>
            <td class="text-center fit">
              <div ngbDropdown class="d-inline-block" container="body">
                <button
                  class="btn btn-outline-secondary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  stopPropagation
                ></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="addOrEdit(client)">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon> Edit
                  </button>
                  <button (click)="delete(client)" ngbDropdownItem>
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</ng-container>
