<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Invoice Templates</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')">
      
    </button>
  </div>
  <div class="modal-body" *ngIf="form">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Current Templates</a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="templates">
            <ul class="list-group mt-2" id="templates">
              <li class="list-group-item" *ngFor="let t of templates">
                <div class="d-flex justify-content-between">
                  <div>
                    {{ t.name }}
                  </div>
                  <div>
                    <a class="btn btn-link" (click)="downloadTemplate($event, t)">
                      <fa-icon [icon]="['fas', 'download']" class="text-primary"></fa-icon>
                    </a>
                    <a class="btn btn-link" (click)="removeTemplate($event, t)">
                      <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                    </a>
                  </div>
                </div>
              </li>
              <li class="list-group-item" *ngIf="!templates.length">No content.</li>
            </ul>
          </ng-container>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>New Template</a>
        <ng-template ngbNavContent>
          <div class="mt-2">
            <form [formGroup]="form" (ngSubmit)="send()">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="Template name"
                  >
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="template">Template</label>
                <div class="col-sm-10">
                  <ngx-file-drop
                    dropZoneLabel="Drop files here"
                    (onFileDrop)="drop($event)"
                    dropZoneClassName="flat bg-light d-block"
                    [accept]="'.ftl'"
                    [multiple]="false"
                  >
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <button
                        id="template"
                        class="btn btn-primary me-1"
                        type="button"
                        (click)="openFileSelector()"
                        *ngIf="!url"
                      >
                        <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                      </button>
                      <a *ngIf="url" (click)="openFileSelector()" class="border-0">
                        {{ url }}
                      </a>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
              </div>
            </form>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</ng-container>
