<div class="d-block pt-3 ps-2 pe-2">
  <div class="d-flex justify-content-between">
    <h3>PERSONAL INFO</h3>
    <button class="btn btn-link text-dark" (click)="edit()">
      <fa-icon icon="edit"></fa-icon>
    </button>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="id-card"></fa-icon>
      {{person.lastname}} {{person.firstname}}</li>
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="dollar-sign"></fa-icon>
      {{person.title}}</li>
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="address-book"></fa-icon>
      {{person.address}}</li>
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="phone"></fa-icon>
      {{person.phoneNumber}}
    </li>
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="mail-bulk"></fa-icon>
      {{person.emailAddress}}
    </li>
    <li class="list-group-item">
      <fa-icon class="me-1 text-secondary" icon="birthday-cake"></fa-icon>
      {{person.birthdate | date: 'dd/MM/yyyy'}}</li>
    <li class="list-group-item text-primary">
      <fa-icon class="me-1 text-secondary" [icon]="['fab', 'linkedin']"></fa-icon>
      {{person.linkedinUrl}}</li>
    <li class="list-group-item text-primary">
      <fa-icon class="me-1 text-secondary"  [icon]="['fab', 'github']"></fa-icon>
      {{person.githubUrl}}</li>
    <li class="list-group-item text-primary">
      <fa-icon class="me-1 text-secondary" icon="book-open"></fa-icon>
      {{person.website}}</li>

  </ul>
</div>

