<ng-container *ngIf="dossier">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Dossier <{{ dossier.name ? dossier.name : 'New Dossier' }}>
        <ng-container *ngIf="dossier.imported">
          <ng-template #infoFrontend>Imported on {{ dossier.importedDate | date: 'dd/MM/yyyy HH:mm' }}</ng-template>
          <button (click)="$event.stopPropagation()" type="button" class="ps-0 ms-0 me-0 btn btn-link text-dark"
            [ngbTooltip]="infoFrontend" triggers="click:blur">
            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          </button>
        </ng-container>
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="dossierForm" [class.blur-modal]="demoMode">
    <form [formGroup]="dossierForm">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Metadata</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="dossierId">Id</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dossierId" formControlName="dossierId" placeholder="Id" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="dossierName">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dossierName" formControlName="dossierName"
                    placeholder="Name (Minimum 5 characters)" min="5" required="required" autofocus appAutoFocus />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="dossierDescription">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="dossierDescription" formControlName="dossierDescription" [autosize]
                    placeholder="Description"></textarea>
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="tvaDue">VAT Due</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="tvaDue" formControlName="tvaDue"
                    placeholder="VAT Due (in €)" />
                </div>
              </div>
              <div class="mb-1 row" *ngIf="size$ | async as size">
                <label class="col-sm-2 col-form-label" for="dossierSize">Size</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dossierSize" [value]="size | bytesToHuman" disabled />
                </div>
              </div>
              <div class="mb-1 row" *ngIf="expenses || dossier.invoices">
                <label class="col-sm-2 col-form-label" for="totalAttachments">Total Attachments</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="totalAttachments" [value]="totalAttachments()"
                    disabled />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="creationDate">Creation Date</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="creationDate" formControlName="creationDate" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="updatedDate">Updated Date</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="updatedDate" formControlName="updatedDate" />
                </div>
              </div>
              <div class="mb-1 row" *ngIf="dossier.closedDate">
                <label class="col-sm-2 col-form-label" for="closedDate">Closed Date</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="closedDate" formControlName="closedDate" />
                </div>
              </div>
              <div class="mb-1 row" *ngIf="dossier.recalledForModificationDate">
                <label class="col-sm-2 col-form-label" for="dossierRecalledForModificationDate">Recalled Date</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dossierRecalledForModificationDate"
                    formControlName="dossierRecalledForModificationDate" />
                </div>
              </div>
              <div class="d-flex justify-content-end mt-2">
                <button (click)="downloadSummary($event)" class="btn btn-outline-success mb-2"
                  [class.me-2]="hasRoleAdmin" [disabled]="!dossier.invoiceIds?.length && !dossier.feeIds?.length">
                  Download Summary
                </button>
                <button *ngIf="hasRoleAdmin" (click)="send()" class="btn btn-primary mb-2"
                  [disabled]="!dossierForm.valid || (dossier.closed && !recallForModification)">
                  Submit
                </button>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Advance Payments</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <ng-container formArrayName="advancePayments">
                <div class="alert alert-warning" *ngIf="vatTotal && feeTotalVat">
                  Estimated VAT: ({{ vatTotal | currency: '€' }} - {{ feeTotalVat | currency: '€' }}) =
                  {{ vatTotal - feeTotalVat | currency: '€' }}
                </div>
                <div class="d-flex justify-content-end" *ngIf="hasRoleAdmin">
                  <button (click)="addAdvancePayment()" class="btn btn-outline-primary mb-1"
                    *ngIf="!dossier.closed || recallForModification">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    Add
                  </button>
                </div>
                <div class="bg-light p-2 mb-1" *ngIf="!advancePayments.controls.length">No Content.</div>

                <div class="bg-light border border-gray p-1 mb-1"
                  *ngFor="let _ of advancePayments.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'datePaid' + i">Date Paid</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" [id]="'datePaid' + i" formControlName="datePaid" />
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'advance' + i">Advance</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" [id]="'advance' + i" formControlName="advance"
                          placeholder="Advance (in €)" />
                      </div>
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="hasRoleAdmin">
                      <a (click)="removeAdvancePayment(i)" class="btn btn-link mt-1 mb-1 d-block"
                        *ngIf="!dossier.closed || recallForModification">
                        <fa-icon class="text-danger" [icon]="['fas', 'trash']"></fa-icon>
                      </a>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Expenses</a>
          <ng-template ngbNavContent>
            <div class="alert alert-warning mt-2" *ngIf="feeTotalExclVat">
              Total: {{ feeTotalExclVat | currency: '€' }}, VAT: {{ feeTotalVat | currency: '€' }}
            </div>
            <div class="mt-2 mb-1" *ngIf="expenses?.length">
              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchExpense"
                [ngModelOptions]="{ standalone: true }" (ngModelChange)="filterExpense()" />
            </div>
            <div class="bg-light p-2 mt-2" *ngIf="!filteredExpenses?.length">No Content.</div>
            <ul class="list-group" id="fees" *ngIf="filteredExpenses?.length">
              <li class="list-group-item" *ngFor="let f of filteredExpenses">
                <div class="d-flex justify-content-between">
                  <div>
                    <fa-icon [icon]="['fas', 'circle']" [ngStyle]="getStyleForTag(f)"></fa-icon>&nbsp;<a
                      class="btn btn-link" (click)="openFeeDetail(f)">{{ f.subject }} <strong>[{{
                        f.attachmentIds?.length }} ]</strong></a>
                  </div>
                  <a class="btn btn-link" *ngIf="!dossier.closed && hasRoleAdmin" (click)="removeFee($event, f)">
                    <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                  </a>
                </div>
              </li>
            </ul>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Invoices</a>
          <ng-template ngbNavContent>
            <div class="alert alert-warning mt-2" *ngIf="invoiceTotalExclVat">
              Total Excl. VAT: {{ invoiceTotalExclVat | currency: '€' }}
            </div>
            <div class="bg-light p-2 mt-2" *ngIf="!dossier.invoices?.length">No Content.</div>
            <ul class="list-group" *ngIf="dossier.invoices?.length" id="invoices">
              <li class="list-group-item" *ngFor="let i of dossier.invoices">
                <div class="d-flex justify-content-between">
                  <div>
                    <a class="btn btn-link pe-0 ps-0" (click)="openInvoiceDetail(i)">{{
                      i.newInvoiceNumber || i.invoiceNumber
                      }}</a>
                    <span class="text-danger">({{ i.billTo?.clientName + ' - ' }}{{ i.subTotal | currency: '€'
                      }})</span>
                  </div>
                  <a class="btn btn-link" *ngIf="!dossier.closed && hasRoleAdmin" (click)="removeInvoice($event, i)">
                    <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                  </a>
                </div>
              </li>
            </ul>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Documents</a>
          <ng-template ngbNavContent>
            <div class="bg-light p-2 mt-2" *ngIf="!dossier.documentIds?.length">No Content.</div>
            <ul class="list-group" *ngIf="documents?.length" id="documents">
              <li class="list-group-item" *ngFor="let d of documents">
                <div class="d-flex justify-content-between">
                  <div>
                    <a class="btn btn-link pe-0 ps-0" (click)="openDocumentDetail(d)">{{ d.title }}</a>
                  </div>
                  <a class="btn btn-link" *ngIf="!dossier.closed && hasRoleAdmin" (click)="removeDocument($event, d)">
                    <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                  </a>
                </div>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </form>
  </div>
</ng-container>
