<nav
  class="navbar position-fixed w-100 navbar-dark artcoded-navbar-color p-0 z-index-1000 d-flex justify-content-between">
  <div>
    <button class="btn btn-sm me-1 border-0" data-bs-toggle="offcanvas" href="#offcanvasSideBar">
      <span class="text-white">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </span>
    </button>

    <a class="navbar-brand font-weight-bolder border-0 d-lg-inline-block d-none me-1 pe-0" routerLink="/">
      <span class="text-white text-shadow ms-1 me-1">artcoded</span>
    </a>
    <ng-template #infoFrontend>
      v{{version}} ({{ env | lowercase }})
    </ng-template>
    <button type="button" class="ps-0 ms-0 pe-1 me-0 btn btn-link text-white" [ngbTooltip]="infoFrontend" triggers="click:blur">
      <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
    </button>
  </div>
  <div class="d-lg-inline col col-md-3" *ngIf="links">
    <select [(ngModel)]="link" class="form-select form-control-sm bg-white-transparent"
      [ngModelOptions]="{ standalone: true }" (ngModelChange)="menuChange()">
      <option [ngValue]="null">--Select--</option>
      <option *ngFor="let link of links" [ngValue]="link">
        {{ link.title | titlecase }}
      </option>
    </select>
  </div>
  <div class="d-lg-inline me-1">
    <button (click)="refreshPwa()" class="btn btn-link text-white">
      <fa-icon [icon]="['fas', 'sync']"></fa-icon>
    </button>
    <app-notification></app-notification>
    <app-user-menu></app-user-menu>
  </div>
</nav>