.navbar .navbar-toggler {
  top: 0.25rem;
  background-color: transparent;
  border: none;
  right: 1rem;
}

::ng-deep .dropdown-menu {
  left: -2em;
}

.text-artcoded::first-letter {
  color: yellow;
}

.menuNav {
  background-color: floralwhite;
  //opacity: 0.5;
  border: none;
  border-radius: 2px;
  width: 100%;
}
::ng-deep ngb-typeahead-window.dropdown-menu {
  width: calc(25.1%);
}
