<div class="d-flex flex-column" *ngIf="links?.length">
  <a
    *ngFor="let link of links; let index = index"
    routerLinkActive="active"
    [routerLinkActiveOptions]="link.routerLinkActiveOptions"
    class="btn btn-sm btn-light border border-gray text-dark mb-1"
    [routerLink]="link.routerLink"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-center">
        <fa-icon [icon]="link.icon"></fa-icon>
        <span class="fw-bold text-center d-sm-inline">&nbsp;{{ link.title }}</span>
      </div>
      <span class="fw-bold text-center d-sm-inline ms-1">(ctrl+{{ index + 1 }})</span>
    </div>
  </a>
</div>
