<app-title title="MAILS"></app-title>
<ng-container *ngIf="mails">
  <div class="table-responsive">
    <table class="table table-bordered table-hover" [class.blur-modal]="demoMode">
      <thead>
        <tr>
          <th class="fit d-md-table-cell">Sending Date</th>
          <th class="fit d-md-table-cell">Subject</th>
          <th class="d-md-table-cell d-none">To</th>
          <th class="d-md-table-cell">Sent</th>
          <th class="d-md-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mail of mails.content" role="button" (click)="openModal(mail)">
          <td class="fit d-md-table-cell">{{ mail.sendingDate | date: 'dd/MM/yyyy' }}</td>
          <td class="fit d-md-table-cell">{{ mail.subject }}</td>
          <td class="d-md-table-cell text-white d-none">
            <span *ngFor="let to of mail.to" class="badge me-1 mb-1 bg-primary">{{ to }}</span>
          </td>
          <td class="fit d-md-table-cell">
            <input aria-label="disabled" type="checkbox" [checked]="mail.sent" [disabled]="true" />
          </td>
          <td class="text-center fit">
            <div ngbDropdown class="d-inline-block" container="body">
              <button
                class="btn btn-outline-secondary"
                id="dropdownBasic2"
                ngbDropdownToggle
                (click)="$event.stopPropagation()"
              ></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem (click)="openModal(mail)">
                  <fa-icon [icon]="['fas', 'eye']"></fa-icon>&nbsp;Open
                </button>
                <button *ngIf="!mail.sent" ngbDropdownItem (click)="delete($event, mail)">
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>&nbsp;Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="!mails.content?.length">
          <td colspan="4">No Content</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end mb-2">
    <ngb-pagination
      *ngIf="mails?.page?.totalPages > 1"
      [page]="mails?.page?.number + 1"
      [pageSize]="mails?.page?.size"
      [maxSize]="1"
      [collectionSize]="mails?.page?.totalElements"
      (pageChange)="load($event)"
    >
    </ngb-pagination>
  </div>
</ng-container>
