<app-title title="Uploads" [uppercase]="true"></app-title>
<div class="d-block mb-2" *ngIf="fileUploads && user && hasRoleAdmin">
  <strong>Total: {{ fileUploads.page?.totalElements }}</strong>
</div>
<div class="row">
  <div class="col-sm-2 col-12" *ngIf="user">
    <app-file-upload-search-form
      [user]="user"
      [searchCriteria]="searchCriteria"
      (formSubmitted)="search($event)"
    ></app-file-upload-search-form>
  </div>
  <div class="col-sm-10 col-12">
    <ng-container *ngIf="fileUploads && correlationLinks">
      <div class="d-block">
        <div class="table-responsive" [class.blur-modal]="demoMode">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Creation Date</th>
                <th>Filename</th>
                <th class="d-md-table-cell d-none" *ngIf="hasRoleAdmin">Correlation</th>
                <th class="fit d-md-table-cell d-none">Public</th>
                <th class="fit d-md-table-cell d-none">Size</th>
                <th class="fit"></th>
                <th class="fit">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!fileUploads.content?.length">
                <td [colSpan]="6">No content</td>
              </tr>
              <ng-container *ngFor="let upl of fileUploads.content">
                <tr>
                  <td class="text-break">{{ upl?.creationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                  <td class="text-break">{{ upl?.originalFilename }}</td>
                  <td class="text-break d-md-table-cell d-none" *ngIf="hasRoleAdmin">
                    {{ correlationLinks[upl?.correlationId] || upl?.correlationId }}
                  </td>
                  <td class="fit d-md-table-cell d-none text-break">{{ upl?.publicResource ? 'Yes' : 'No' }}</td>
                  <td class="fit d-md-table-cell d-none text-break">{{ upl?.size | bytesToHuman }}</td>
                  <td class="text-center fit">
                    <a
                      class="btn btn-link"
                      (click)="toggleBookmark($event, upl)"
                      [class.text-muted]="!upl.bookmarked"
                      [class.text-warning]="upl.bookmarked"
                      ><fa-icon [icon]="['fas', 'star']"
                    /></a>
                  </td>
                  <td class="text-center fit">
                    <div ngbDropdown class="d-inline-block" container="body">
                      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="download(upl)" ngbDropdownItem>
                          <fa-icon [icon]="['fas', 'download']"></fa-icon>
                          Download
                        </button>
                        <button *ngIf="user && hasRoleAdmin" (click)="delete(upl)" ngbDropdownItem disabled>
                          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                          Delete (disabled)
                        </button>
                        <button (click)="openPdfViewer(upl)" *ngIf="isPdf(upl)" ngbDropdownItem>
                          <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
                          Open
                        </button>
                        <button (click)="openImageViewer(upl)" *ngIf="isImage(upl)" ngbDropdownItem>
                          <fa-icon [icon]="['fas', 'file-image']"></fa-icon>
                          Open
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-block">
        <div class="d-flex justify-content-end mb-2">
          <ngb-pagination
            *ngIf="fileUploads.page.totalPages > 1"
            [page]="pageNumber"
            [pageSize]="fileUploads.page.size"
            [maxSize]="1"
            [collectionSize]="fileUploads.page.totalElements"
            (pageChange)="load($event)"
          >
          </ngb-pagination>
        </div>
      </div>
    </ng-container>
  </div>
</div>
