<ng-container *ngIf="!editing">
  <div class="d-flex justify-content-end">
    <button class="btn btn-link text-dark" (click)="toggleEditing()">
      <fa-icon icon="edit"></fa-icon>
    </button>
  </div>
  <p class="lead" [innerHTML]="introduction"></p>
</ng-container>

<ng-container *ngIf="editing">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <textarea [autosize] formControlName="intro" placeholder="intro here" class="form-control" appAutoFocus></textarea>
    <div class="mt-2">
      <button class="btn btn-outline-danger me-1" (click)="$event.preventDefault(); toggleEditing()">Cancel</button>
      <button class="btn btn-outline-primary" [disabled]="!editing || !form.valid" type="submit">Submit</button>
    </div>
  </form>
</ng-container>
