<app-title title="Privacy Policy"></app-title>
<div class="d-block">
  <ng-container *ngIf="gdprConsent()"></ng-container>
  <div class="alert alert-primary">
    <div class="form-check ">
      <input class="form-check-input" type="checkbox" id="consent"
             (change)="toggleConsent($event)"
             [checked]="!gdprConsent()">
      <label class="form-check-label" for="consent">
        Accept cookies consent
      </label>
    </div>
  </div>
  <p class="lead">This privacy policy will explain how our organization uses the personal data we collect from you when
    you use our website.</p>

  <strong>Topics:</strong>

  <ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
    <li>What data do we collect?</li>
  </ul>
  <p class="font-weight-bold">We collect the following data:</p>

  <ul>
    <li>Personal identification information (Name, email address, phone number, etc.)</li>
  </ul>

  <p class="font-weight-bold">How do we collect your data?</p>
  <p>You directly provide us with most of the data we collect. We collect data and process data when you:</p>

  <ul>
    <li>Register online or place an order for any of our products or services.</li>
    <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
    <li>Use or view our website via your browser’s cookies.</li>

  </ul>

  <p class="font-weight-bold">How will we use your data?</p>
  <p>We collect your data so that we can:</p>

  <ul>
    <li>Process your order and manage your account.</li>
    <li>Email you with special offers on other products and services we think you might like.</li>
  </ul>

  <p>When Artcoded processes your order, it may send your data to, and also use the resulting information from, credit
    reference agencies to prevent fraudulent purchases.</p>

  <p class="font-weight-bold">How do we store your data?</p>
  <p>We securely store your data in our server and in your browser's local storage. The most sensitive information that
    you provide (such as passwords, credit card number,etc) are either not stored or encrypted with a strong
    encryption's
    algorithm (HS512, BCrypt).</p>
  <p>None of these sensitive informations are stored in logs or kept in clear.</p>

  <p>In case you fill a contact form, we will keep your personal data such as email, phone, etc for a maximum of 12
    months. Once this time period has expired, we will automatically delete your data.</p>

  <p>If you have agreed to receive marketing, you may always opt out at a later date.</p>

  <p>You have the right at any time to stop us from contacting you for marketing purposes</p>

  <p>If you no longer wish to be contacted for marketing purposes, please send us an <a
    href="mailto:contact@bittich.be">email</a>
    .

  <p class="font-weight-bold">What are your data protection rights?</p>

  <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the
    following:</p>

  <ul>
    <li>The right to access – You have the right to request us for copies of your personal data.</li>
    <li>The right to rectification – You have the right to request that we correct any information you believe is
      inaccurate. You also have the right to request us to complete the information you believe is incomplete.
    </li>
    <li>The right to erasure – You have the right to request that we erase your personal data.</li>
    <li>The right to restrict processing – You have the right to request that we restrict the processing of your
      personal
      data, under certain conditions.
    </li>
    <li>The right to object to processing – You have the right to object to processing of your personal data.</li>
    <li>The right to data portability – You have the right to request that we transfer the data that we have collected
      to
      another organization, or directly to you
    </li>
  </ul>


  <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
    please
    contact us at our <a href="mailto:contact@bittich.be">email</a></p>

  <p class="font-weight-bold">Cookies</p>
  <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior
    information.</p>
  <p>When you visit our websites, we may collect information from you automatically through cookies or similar
    technology</p>

  <p>For further information, visit allaboutcookies.org.</p>

  <p class="font-weight-bold">How do we use cookies?</p>
  <p>We use cookies in a range of ways to improve your experience on our website, including:</p>

  <ul>
    <li>Keeping you signed in</li>
    <li>Understanding how you use our website</li>
  </ul>
  <p class="font-weight-bold">What types of cookies do we use?</p>

  <p>There are a number of different types of cookies, however, our website uses:</p>

  <ul>
    <li>Functionality – we use these cookies so that we recognize you on our website and remember your previously
      selected
      preferences. These could include what language you prefer and location you are in. A mix of first-party and
      third-party cookies are used.
    </li>
    <li>Advertising – Artcoded uses these cookies to collect information about your visit to our website, the content
      you
      viewed, the links you followed and information about your browser, device, and your IP address. We sometimes
      shares
      some limited aspects of this data with third parties for advertising purposes. We may also share online data
      collected through cookies with our advertising partners. This means that when you visit another website, you may
      be
      shown advertising based on your browsing patterns on our website.
    </li>
  </ul>

  <p class="font-weight-bold">How to manage cookies</p>
  <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your
    browser. However, in a few cases, some of our website features may not function as a result.</p>

  <p class="font-weight-bold">Privacy policies of other websites</p>
  <p>The Artcoded website contains links to other websites. Our privacy policy applies only to our website, so if you
    click on a link to another website, you should read their privacy policy.</p>

  <p class="font-weight-bold">Changes to our privacy policy</p>
  <p>Artcoded keeps its privacy policy under regular review and places any updates on this web page. This privacy policy
    was last updated on 19/09/2020.

  <p class="font-weight-bold">How to contact us</p>
  <p>If you have any questions about this privacy policy, the data we hold on you, or you would like to exercise one of
    your data protection rights, please do not hesitate to contact us.</p>

  <p>Email us at: contact@bittich.be</p>

  <p>Should you wish to report a complaint or if you feel that we did not addressed your concern in a satisfactory
    manner,
    you may contact the Information Commissioner’s Office.</p>


  <p class="font-weight-bold">Related articles</p>
  <p>Art. 13 GDPR - Information to be provided where personal data are collected from the data subject</p>
  <p>Art. 12 GDPR - Transparent information, communication and modalities for the exercise of the rights of the data
    subject</p>
  <p>Art. 34 GDPR - Communication of a personal data breach to the data subject</p>

</div>
