<div class="card flat mb-2">
  <div class="card-header bg-transparent btn btn-click d-flex justify-content-between"
    (click)="isCollapsed = !isCollapsed">
    <strong>Search Form</strong>
    <fa-icon *ngIf="isCollapsed" [icon]="['fas', 'eye']"></fa-icon>
    <fa-icon *ngIf="!isCollapsed" [icon]="['fas', 'ellipsis-h']"></fa-icon>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="id">Id</label>
        <div class="col-12">
          <input type="text" class="form-control" id="id" formControlName="id" placeholder="Id" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="correlationId">Correlation Id</label>
        <div class="col-12">
          <input type="text" class="form-control" id="correlationId" formControlName="correlationId"
            placeholder="Correlation Id" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="originalFilename">FileName</label>
        <div class="col-12">
          <input type="text" class="form-control" id="originalFilename" formControlName="originalFilename"
            placeholder="FileName" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="dateAfter">From</label>
        <div class="col-12">
          <input type="datetime-local" class="form-control" id="dateAfter" formControlName="dateAfter" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="dateBefore">To</label>
        <div class="col-12">
          <input type="datetime-local" class="form-control" id="dateBefore" formControlName="dateBefore" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-12 col-form-label" for="publicResource">Public</label>
        <div class="col-12">
          <select class="form-select" id="publicResource" formControlName="publicResource">
            <option [ngValue]="null">Select option...</option>
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Submit</button>
        <button class="btn btn-outline-danger ms-1" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>
</div>
