<button
  type="button"
  autoClose="outside"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  triggers="manual"
  #p="ngbPopover"
  (click)="p.open()"
  class="btn btn-lg btn-transparent pe-0"
>
  <ng-container>
    <span
      class="badge rounded-circle align-middle"
      [class.bg-light]="unseenCount === 0"
      [class.bg-danger]="unseenCount > 0"
    >
      {{ unseenCount }}
    </span>
  </ng-container>
</button>

<ng-template #popContent>
  <ng-container *ngIf="latests && latests.length">
    <div class="example-viewport list-group list-group-flush p-0 m-0">
      <div
        class="list-group-item d-flex justify-content-startborder-left-0 border-right-0"
        [class.list-group-item-info]="!n.seen"
        *ngFor="let n of latests"
      >
        <div class="d-flex flex-column">
          <small class="text-muted font-weight-bold">{{ n.receivedDate | date: 'dd/MM/yyyy @ HH:mm' }}</small>
          <span role="button" class="text-break" (click)="navigate(p, n)">{{ n.title }}</span>
        </div>
        <button class="btn btn-link" (click)="update(n)">
          <fa-icon [icon]="['fas', 'eye']" [class.text-primary]="!n.seen" [class.text-muted]="n.seen"></fa-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <span class="p-2" *ngIf="!latests?.length">No Notification</span>
</ng-template>

<ng-template #popTitle>
  <div class="d-flex justify-content-between align-items-center">
    <b class="p-0 m-0">Notifications</b>
    <a class="btn btn-link m-0 p-0 text-dark" (click)="toggleAllSeen()">
      <fa-icon [icon]="['fas', 'eye']"></fa-icon>
    </a>
  </div>
</ng-template>
