.example-viewport {
  height: 276px;
  width: 200px;
}

::ng-deep .popover-body {
  padding: 0 !important;
  border: none !important;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.example-item {
  height: 50px;
}
