<div class="mt-3">
  <ng-container *ngIf="loaded">
    <div class="d-none d-lg-flex justify-content-between">
      <app-most-clicked-menu />
      <app-next-tasks />
    </div>
    <hr />
    <div class="d-lg-flex justify-content-between mt-3">
      <div class="col col-lg-3 me-2">
        <div class="mb-2 pe-2">
          <div ngbAccordion [closeOthers]="true" class="accordion-flush">
            <div ngbAccordionItem="companyStamp" #companyStamp="ngbAccordionItem" [collapsed]="false">
              <div ngbAccordionHeader>
                <button ngbAccordionButton class="p-2">Company Stamp</button>
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-1">
                  <app-company-stamp />
                </div>
              </div>
            </div>
            <div ngbAccordionItem="memoDate">
              <div ngbAccordionHeader>
                <button ngbAccordionButton class="p-2">Memo</button>
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-1">
                  <app-memo-date />
                </div>
              </div>
            </div>

            <div ngbAccordionItem="todos">
              <div ngbAccordionHeader>
                <button ngbAccordionButton class="p-2">Todo</button>
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-1">
                  <app-todo-list />
                </div>
              </div>
            </div>
            <div ngbAccordionItem="scripts">
              <div ngbAccordionHeader>
                <button ngbAccordionButton class="p-2">Scripts</button>
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-1">
                  <app-script />
                </div>
              </div>
            </div>

            <ng-container *ngIf="indicators$ | async as indicators">
              <div ngbAccordionItem="buildInfo">
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Backend Info</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Build Time</strong>
                      <strong>{{ indicators.buildInfo.build.time | date: 'dd/MM/yyyy HH:mm' }}</strong>
                    </div>
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Version</strong>
                      <strong>{{ indicators.buildInfo.build.version }}</strong>
                    </div>
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Uptime</strong>
                      <strong>{{ indicators.buildInfo['camel.uptime'] }}</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div
                ngbAccordionItem="diskSpace"
                *ngIf="indicators.healthIndicator.components?.diskSpace?.details as diskSpace"
              >
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Disk Space</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="font-weight-bold text-uppercase">Total</strong>
                      <strong>{{ diskSpace.total | bytesToHuman: true }}</strong>
                    </div>
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Free</strong>
                      <strong>{{ diskSpace.free | bytesToHuman: true }}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div ngbAccordionItem="jms" *ngIf="indicators.healthIndicator.components?.jms as jms">
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Artemis</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Status</strong>
                      <strong>{{ jms.status }}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div ngbAccordionItem="mail" *ngIf="indicators.healthIndicator.components?.mail as mail">
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Mail</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Status</strong>
                      <strong>{{ mail.status }}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div ngbAccordionItem="mongo" *ngIf="indicators.healthIndicator.components?.mongo as mongo">
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Mongo</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Status</strong>
                      <strong>{{ mongo.status }}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div ngbAccordionItem="redis" *ngIf="indicators.healthIndicator.components?.redis as redis">
                <div ngbAccordionHeader>
                  <button ngbAccordionButton class="p-2">Redis</button>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="p-1">
                    <div class="d-flex justify-content-between">
                      <strong class="text-uppercase">Status</strong>
                      <strong>{{ redis.status }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col col-lg-9 me-2">
        <app-generic-summary />
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!loaded"> loading... </ng-container>
</div>
