<div class="h-90">
  <ng-container *ngIf="user && personalInfo && loaded">
    <div class="d-lg-flex d-block mt-3" [class.blur-modal]="personalInfo.demoMode">
      <div class="col-lg-2 bg-white shadow-sm mb-sm-auto pe-2 ps-2 me-1" *ngIf="hasRoleAdmin">
        <ng-container *ngIf="hasRoleAdmin">
          <div class=""><app-company-stamp /></div>
          <hr />
          <div class="d-block mt-2">
                        <div class="d-flex flex-column justify-content-start" *ngIf="unpaidFees?.length">
              <small class="text-muted fw-bold">Unpaid expenses</small>
              <button class="btn btn-sm  border border-gray pb-0 mb-1" *ngFor="let f of unpaidFees" (click)="openFeeDetail(f)">
                <span class="ms-1 fw-bold">{{ f.subject | trim:10 }}</span>
              </button>
            </div>
            <hr />
            <div class="d-flex flex-column">
              <small class="text-muted fw-bold">Most Clicked</small>
              <app-most-clicked-menu />
            </div>
                          <hr />
                          

            <div class="d-flex flex-column" *ngIf="activeDossier">
              <small class="text-muted fw-bold">Active Dossier</small>
              <a routerLink="/dossier" class="btn btn-sm btn-light border border-gray text-danger pb-0">
                <fa-icon class="fs-4 text-center" [icon]="['fas', 'folder']"></fa-icon>
                <span class="ms-1 fw-bold">{{ activeDossier.name }}</span>
              </a>
            </div>

          
                        <hr/>
            <div class="d-flex flex-column ms-auto">
              <small class="text-muted fw-bold">Next Tasks</small>

              <app-next-tasks />
            </div>
          </div>
        </ng-container>
      </div>
      <div class="me-2 mt-2 mt-md-0" [class.col-lg-10]="hasRoleAdmin" [class.col-lg-12]="!hasRoleAdmin">
        <app-generic-summary />
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!loaded"> loading... </ng-container>
</div>
