<ng-container *ngIf="isBrowser && logo">
    <div class="d-block" #companyStamp>
        <div class="card">
            <img [src]="logo" class="card-img-top bg-transparent">

            <div class="card-footer pt-0 pb-0  ps-2 pe-2 d-flex justify-content-around  bg-transparent">
                <div class="d-lg-inline d-block text-center ">
                    <fa-icon class="me-1" [icon]="['fas','vcard']"></fa-icon>
                    <h6>{{personalInfo.organizationName}}</h6>
                    <h6>{{personalInfo.vatNumber}}</h6>
                </div>
                <!-- <div>
                    <fa-icon class="d-lg-block me-1 text-center" [icon]="['fas','mail-bulk']"></fa-icon>
                    <h6 class=" d-lg-block text-center">{{personalInfo.organizationEmailAddress}}</h6>
                </div> -->
                <div class="d-lg-inline d-block  text-center">
                    <span class="me-1">
                        <fa-icon class="me-1" [icon]="['fas','phone']"></fa-icon>
                        <fa-icon [icon]="['fas','mail-bulk']"></fa-icon>
                    </span>
                    <h6>{{personalInfo.organizationPhoneNumber}}</h6>
                    <h6>{{personalInfo.organizationEmailAddress}}</h6>

                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        <img #canvas>
        <a #downloadLink></a>
    </div>
    <div class="mt-1 mb-1">
        <button class="w-100  btn btn-outline-primary " (click)="downloadImage()">Download</button>
    </div>
</ng-container>