<ng-container *ngIf="isBrowser && logo">
  <div class="d-block" #companyStamp>
    <div class="card border-1 border-gray p-1">
      <img [src]="logo" class="card-img-top bg-transparent mb-1" />

      <div class="card-footer pt-0 pb-0 ps-2 pe-2 bg-light">
        <div class="d-block fw-bold">
          <fa-icon class="me-1" [icon]="['fas', 'vcard']"></fa-icon>
          <small>&nbsp;{{ personalInfo.organizationName }}</small>
          <small>({{ personalInfo.vatNumber }})</small>
        </div>

        <div class="d-block fw-bold">
          <fa-icon class="me-1" [icon]="['fas', 'phone']"></fa-icon>
          <small>&nbsp;{{ personalInfo.organizationPhoneNumber }}</small>
        </div>
        <div class="d-block fw-bold">
          <fa-icon [icon]="['fas', 'mail-bulk']"></fa-icon>
          <small>&nbsp;{{ personalInfo.organizationEmailAddress }}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none">
    <img #canvas />
    <a #downloadLink></a>
  </div>
  <div class="mt-1 mb-1 ms-1 me-1">
    <button class="w-100 btn btn-outline-primary" (click)="downloadImage()" *ngIf="!downloading">Download</button>
    <button class="w-100 btn btn-outline-primary" disabled *ngIf="downloading">Downloading...</button>
  </div>
</ng-container>
