<div class="card mb-2">
  <div class="card-header bg-transparent btn btn-click d-flex justify-content-between"
    (click)="isCollapsed = !isCollapsed">
    <strong>Search Form</strong>
    <fa-icon *ngIf="isCollapsed" [icon]="['fas', 'eye']"></fa-icon>
    <fa-icon *ngIf="!isCollapsed" [icon]="['fas', 'ellipsis-h']"></fa-icon>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="title">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="description">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" formControlName="description"
            placeholder="Description" />
        </div>
      </div>
      <div class="mb-1 d-flex justify-content-start">
        <label class="col-sm-2 col-form-label" for="tags">Tags</label>
        <div class="col-sm-10 ms-1">
          <p-chips id="tags" formControlName="tags" placehholder="Tags" separator=","></p-chips>
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="dateAfter">From</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="dateAfter" formControlName="dateAfter" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label" for="dateBefore">To</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="dateBefore" formControlName="dateBefore" />
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Submit</button>
        <button class="btn btn-outline-danger ms-1" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>
</div>
