<ng-container *ngIf="reminderTasks$ | async as reminderTasks">
  <div class="d-flex flex-column overflow-auto hidden-scroll"  style="max-height: 47vh">
    <a class="btn text-dark fw-bold btn-outline-warning mb-2" (click)="openTask()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon> New Task
    </a>
    <div class="d-block mb-1" *ngFor="let task of reminderTasks; let i = index">
      <a
        (click)="openTask(task)"
        class="btn btn-sm w-100"
        [class.text-dark]="i >= 3"
        [class.btn-light]="i >= 3"
        [class.border]="i >= 3"
        [class.border-gray]="i >= 3"
        [class.btn-info]="i < 3"
        [class.text-dark]="i < 3"
      >
        <small>{{ task.nextDate | date: 'dd/MM @ HH:mm' }}</small
        ><br />
        <small class="fw-bold">{{ getTaskName(task) }}</small>
      </a>
    </div>
  </div>
</ng-container>
