<app-title title="CV DOWNLOAD REQUESTS"></app-title>
<div class="table-responsive" *ngIf="cvDownloadRequests$">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>email</th>
      <th>phoneNumber</th>
      <th>dailyRate</th>
      <th>availability</th>
      <th>dateReceived</th>
      <th>action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let cvDr of cvDownloadRequests$ | async;">
      <tr>
        <td>{{cvDr.email}}</td>
        <td>{{cvDr.phoneNumber}}</td>
        <td>{{cvDr.dailyRate}}</td>
        <td>{{cvDr.availability}}</td>
        <td>{{cvDr.dateReceived | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <button (click)="delete(cvDr)" class="btn btn-sm">
            <fa-icon class="text-danger" [icon]="['fas','trash']"></fa-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="cvDr?.htmlContent?.length">
        <td colspan="7">
          <div [innerHTML]="cvDr.htmlContent"></div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
