<ng-container *ngIf="client">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break"
      >{{ client.student ? 'Student' : 'Client' }} {{ client.name }}
      <ng-container *ngIf="client.imported">
        <ng-template #infoFrontend> Imported on {{ client.importedDate | date: 'dd/MM/yyyy HH:mm' }} </ng-template>
        <button
          (click)="$event.stopPropagation()"
          type="button"
          class="ps-0 ms-0 mt-0 pt-0 mb-0 pb-0 me-0 btn btn-link text-dark"
          [ngbTooltip]="infoFrontend"
          triggers="click:blur"
        >
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        </button>
      </ng-container>
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="clientForm" [class.blur-modal]="demoMode">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <div class="mt-2 p-2">
            <form [formGroup]="clientForm" (ngSubmit)="send()">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="clientName">Client Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="clientName"
                    formControlName="clientName"
                    placeholder="Client Name"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="emailAddress">Email</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="emailAddress"
                    formControlName="emailAddress"
                    placeholder="Email Address"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="phoneNumber">Phone</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Phone number"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="vatNumber">Vat Number</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="vatNumber"
                    formControlName="vatNumber"
                    placeholder="VatNumber"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="address">Address</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    formControlName="address"
                    placeholder="Address"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="city">City</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="city" formControlName="city" placeholder="City" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="countryCode">Country code</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="countryCode"
                    formControlName="countryCode"
                    placeholder="e.g BE"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="maxDaysToPay">Max Days to pay</label>
                <div class="col-sm-10">
                  <input
                    type="number"
                    class="form-control"
                    id="maxDaysToPay"
                    formControlName="maxDaysToPay"
                    placeholder="Max Days to pay"
                  />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="projectName">Project Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="projectName" formControlName="projectName" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="nature">Nature</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nature" formControlName="nature" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="rate">Rate</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="rate" formControlName="rate" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="taxRate">Taxes%</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="taxRate" formControlName="taxRate" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="rateType">Rate Type</label>
                <div class="col-sm-10">
                  <select class="form-select" formControlName="rateType" id="rateType">
                    <option [value]="null">Select option...</option>
                    <option *ngFor="let type of getRateType()" [selected]="type === clientForm.get('rateType').value">
                      {{ type }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="startDate">Start Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="startDate" formControlName="startDate" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="endDate">End Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="endDate" formControlName="endDate" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="contractStatus">Status</label>
                <div class="col-sm-10">
                  <select class="form-select" formControlName="contractStatus" id="contractStatus">
                    <option [value]="null">Select option...</option>
                    <option
                      *ngFor="let status of getContractStatus()"
                      [selected]="status === clientForm.get('contractStatus').value"
                    >
                      {{ status }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="contractStatus">Working days</label>
                <div class="col-sm-10">
                  <p-multiSelect
                    styleClass="w-100"
                    [maxSelectedLabels]="10"
                    [options]="workingDays"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="defaultWorkingDays"
                    display="chip"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="form-check d-flex justify-content-end mb-1">
                <input class="form-check-input" type="checkbox" id="is_student" formControlName="student" />
                <label class="form-check-label ms-1" for="is_student"> Student </label>
              </div>
              <div class="d-flex justify-content-end" *ngIf="hasRoleAdmin">
                <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">Submit</button>
              </div>
            </form>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Documents</a>
        <ng-template ngbNavContent>
          <div class="mt-2">
            <div *ngIf="hasRoleAdmin" class="input-group mb-2">
              <input type="file" class="form-control" id="inputGroupFile02" (change)="loadFile($event)" />
              <div class="input-group-append">
                <button class="input-group-text ms-1" id="" (click)="upload()" [disabled]="!file">
                  <fa-icon icon="plus"></fa-icon>
                  Upload
                </button>
              </div>
            </div>

            <div class="bg-light" *ngIf="!client.documents?.length">No Content.</div>
            <ng-container *ngIf="client.documents && client.documents.length">
              <ul class="list-group" id="attachments">
                <li class="list-group-item" *ngFor="let a of client.documents">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link text-break" (click)="$event.preventDefault(); download($event, a)">
                      {{ a.originalFilename }}
                    </button>
                    <div class="btn-group">
                      <button
                        *ngIf="hasRoleAdmin"
                        class="btn btn-link"
                        (click)="$event.preventDefault(); removeDocument($event, a)"
                      >
                        <fa-icon [icon]="['fas', 'times']" class="text-danger"></fa-icon>
                      </button>
                      <button class="btn btn-link" *ngIf="isPdf(a)" (click)="$event.preventDefault(); openPdfViewer(a)">
                        <fa-icon [icon]="['fas', 'file-pdf']" class="text-secondary"></fa-icon>
                      </button>
                      <button
                        class="btn btn-link"
                        *ngIf="isImage(a)"
                        (click)="$event.preventDefault(); openImageViewer(a)"
                      >
                        <fa-icon [icon]="['fas', 'file-image']" class="text-secondary"></fa-icon>
                      </button>

                      <button *ngIf="hasRoleAdmin" class="btn btn-link" (click)="$event.preventDefault(); sendMail(a)">
                        <fa-icon [icon]="['fas', 'mail-bulk']"></fa-icon>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-container>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</ng-container>
