<ng-container>
    <div class="modal-header" *ngIf="activeModal">
      <span class="modal-title text-break">Client {{client.name}}</span>
      <button type="button" class="btn-close" aria-label="Close"
              (click)="activeModal?.dismiss('Cross click')">
        
      </button>
    </div>
    <div class="modal-body" *ngIf="clientForm">
      <form [formGroup]="clientForm" (ngSubmit)="send()">
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="clientName">Client Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="clientName" formControlName="clientName"
                   placeholder="Client Name">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="emailAddress">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="emailAddress" formControlName="emailAddress"
                   placeholder="Email Address">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="phoneNumber">Phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                   placeholder="Phone number">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="vatNumber">Vat Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="vatNumber" formControlName="vatNumber"
                   placeholder="VatNumber">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="address">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="address" formControlName="address"
                   placeholder="Address">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="city">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="city" formControlName="city"
                   placeholder="City">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="maxDaysToPay">Max Days to pay</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="maxDaysToPay" formControlName="maxDaysToPay"
                   placeholder="Max Days to pay">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="projectName">Project Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="projectName" formControlName="projectName">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="rate">Rate</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="rate" formControlName="rate">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="rateType">Rate Type</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="rateType" id="rateType">
              <option [value]="null">Select option...</option>
              <option *ngFor="let type of getRateType()"
                      [selected]="type === clientForm.get('rateType').value">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="startDate">Start Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="endDate">End Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label" for="contractStatus">Status</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="contractStatus" id="contractStatus">
              <option [value]="null">Select option...</option>
              <option *ngFor="let status of getContractStatus()"
                      [selected]="status === clientForm.get('contractStatus').value">{{status}}</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn  btn-primary"
                  [disabled]="!clientForm.valid">Submit
          </button>
        </div>
  
      </form>
  
    </div>
  </ng-container>
  