<app-title title="Base64 Utils" [uppercase]="true"></app-title>
<ul [activeId]="activeId" ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem="decode">
    <a ngbNavLink routerLink="/toolbox/base64/decode">Decode</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="Base64 decode" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-base64 [decode]="true"></app-base64>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="encode">
    <a ngbNavLink routerLink="/toolbox/base64/encode">Encode</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="Base64 encode" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-base64></app-base64>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="image-encode">
    <a ngbNavLink routerLink="/toolbox/base64/image-encode">Image encode</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="Image encode" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-image-encoder></app-image-encoder>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
