<app-title title="Dossier" [uppercase]="true"></app-title>
<ul [activeId]="activeId" ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem="open">
    <a ngbNavLink routerLink="/dossier/open">Open</a>
    <ng-template ngbNavContent>
      <div class="d-block" *ngIf="user && demoMode">
        <app-dossier-table-result [user]="user" [closed]="false" [demoMode]="demoMode"></app-dossier-table-result>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="closed">
    <a ngbNavLink routerLink="/dossier/closed">Closed</a>
    <ng-template ngbNavContent>
      <div class="d-block" *ngIf="user && demoMode">
        <app-dossier-table-result [user]="user" [closed]="true" [demoMode]="demoMode"></app-dossier-table-result>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
