<ng-container>
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">Personal Info</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal?.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="send()">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Metadata</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="ceoFullName">Full Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ceoFullName" formControlName="ceoFullName"
                    placeholder="CEO FullName" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="vatNumber">VAT</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="vatNumber" formControlName="vatNumber"
                    placeholder="VAT Number" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationName">Organization</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationName" formControlName="organizationName"
                    placeholder="Organization's Name" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="logo">Logo</label>
                <div class="col-sm-10">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropLogo($event)"
                    dropZoneClassName="flat bg-light d-block border border-gray" [accept]="'image/*'"
                    [multiple]="false">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <button [disabled]="!hasRoleAdmin" id="logo" class="btn btn-primary me-1" type="button"
                        (click)="openFileSelector()" *ngIf="!logoUrl">
                        <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                      </button>
                      <button *ngIf="logoUrl" [disabled]="!hasRoleAdmin" (click)="openFileSelector()"
                        class="border-0 bg-transparent">
                        <img alt="Cover" [src]="logoUrl" class="img-fluid" width="100px" height="100px" />
                      </button>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>

              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="signature">Signature</label>
                <div class="col-sm-10">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropSignature($event)"
                    dropZoneClassName="flat bg-light d-block border border-gray" [accept]="'image/*'"
                    [multiple]="false">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <button [disabled]="!hasRoleAdmin" id="signature" class="btn btn-primary me-1" type="button"
                        (click)="openFileSelector()" *ngIf="!signatureUrl">
                        <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                      </button>
                      <button [disabled]="!hasRoleAdmin" *ngIf="signatureUrl" (click)="openFileSelector()"
                        class="border-0 bg-transparent">
                        <img alt="Cover" [src]="signatureUrl" class="img-fluid" width="100px" height="100px" />
                      </button>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>

              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="initial">Initial</label>
                <div class="col-sm-10">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropInitial($event)"
                    dropZoneClassName="flat bg-light d-block border border-gray" [accept]="'image/*'"
                    [multiple]="false">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <button [disabled]="!hasRoleAdmin" id="initial" class="btn btn-primary me-1" type="button"
                        (click)="openFileSelector()" *ngIf="!initialUrl">
                        <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                      </button>
                      <button [disabled]="!hasRoleAdmin" *ngIf="initialUrl" (click)="openFileSelector()"
                        class="border-0 bg-transparent">
                        <img alt="Cover" [src]="initialUrl" class="img-fluid" width="100px" height="100px" />
                      </button>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>

              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="note">Note</label>
                <div class="col-sm-10">
                  <textarea [autosize]="true" class="form-control" id="note" formControlName="note"
                    placeholder="Note"></textarea>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Contact/Bank</a>
          <ng-template ngbNavContent>
            <div class="mt-2">
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationAddress">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationAddress" formControlName="organizationAddress"
                    placeholder="Address" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationCity">City</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationCity" formControlName="organizationCity"
                    placeholder="City" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationPostCode">Post Code</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationPostCode"
                    formControlName="organizationPostCode" placeholder="Post Code" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationEmailAddress">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="organizationEmailAddress"
                    formControlName="organizationEmailAddress" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationPhoneNumber">Phone Number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationPhoneNumber"
                    formControlName="organizationPhoneNumber" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationBankAccount">Bank Account</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationBankAccount"
                    formControlName="organizationBankAccount" placeholder="Bank Account" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="organizationBankBIC">Bank Account BIC</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="organizationBankBIC" formControlName="organizationBankBIC"
                    placeholder="BIC" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="financeCharge">Finance Charge</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="financeCharge" formControlName="financeCharge"
                    placeholder="E.G 1.5" />
                </div>
              </div>
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label" for="maxDaysToPay">Max Days To Pay</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="maxDaysToPay" formControlName="maxDaysToPay" />
                </div>
              </div>
            </div>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>Accountants</a>
          <ng-template ngbNavContent>
            <ng-container formArrayName="accountants">
              <div class="mt-2">
                <div class="d-flex justify-content-end">
                  <button *ngIf="hasRoleAdmin" (click)="addAccountant($event)" class="btn btn-outline-primary mb-1">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    Add
                  </button>
                </div>
                <div class="bg-light p-2 mb-1" *ngIf="!accountants.controls.length">No Content.</div>
                <div class="bg-light border border-gray p-2 mb-1" *ngFor="let _ of accountants.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'firstName' + i">First Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [id]="'firstName' + i" formControlName="firstName" />
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'lastName' + i">Last Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [id]="'lastName' + i" formControlName="lastName" />
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'email' + i">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" [id]="'email' + i" formControlName="email" />
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <label class="col-sm-2 col-form-label" [for]="'phoneNumber' + i">Phone number</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [id]="'phoneNumber' + i"
                          formControlName="phoneNumber" />
                      </div>
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="this.hasRoleAdmin">
                      <a (click)="removeAccountant($event, i)" class="btn btn-link mt-1 mb-1 d-block">
                        <fa-icon class="text-danger" [icon]="['fas', 'trash']"></fa-icon>
                      </a>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <div class="d-flex justify-content-end" *ngIf="hasRoleAdmin">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid || !hasRoleAdmin">Submit</button>
      </div>
    </form>
  </div>
</ng-container>
