<div class="card mb-2">
  <div class="card-header">Set Tag</div>
  <div class="card-body">
    <div class="mb-1">
      <label for="tagSelect">Select a tag &nbsp;</label>
      <select class="form-select" id="tagSelect" [(ngModel)]="selectedTag" name="tagSelect" required="required"
        [disabled]="isDisabled">
        <option *ngFor="let t of tags" [ngValue]="t.id">{{ t.name | titlecase }}</option>
      </select>
    </div>
    <div class="d-flex justify-content-end" *ngIf="hasRoleAdmin">
      <button (click)="submit()" class="btn btn-primary mt-1 me-1" [disabled]="!selectedTag || isDisabled">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
        Set
      </button>
      <button (click)="reset()" class="btn btn-outline-danger mt-1" [disabled]="isDisabled" *ngIf="!hideCancelButton">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
        Cancel
      </button>
    </div>
  </div>
</div>
