@import url('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/a11y-light.min.css');



html,
body {
  overflow-x: hidden;
  height: 100%;
}

.flat {
  border-radius: 0;
}
.blur-text * {
  filter: blur(var(--blur-amount, 3.4px));
}
.blur-modal * {
  filter: blur(var(--blur-amount, 1.4px));
}
.text-break {
  word-break: break-all;
}

.z-index-1000 {
  z-index: 1000;
}

.nav-link,
.nav-item {
  text-transform: capitalize;
}

.text-shadow {
  text-shadow: 0 0 2px #202220;
}

.no-focus:focus {
  outline: none;
  box-shadow: none;
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fullscreen {
  margin: 0;
  position: fixed;
  border: 0;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000;
  border-radius: 0;
  background-color: white;
  overflow-y: scroll;
}

// PRIMENG
.p-chips-multiple-container,
.p-chips {
  display: block !important;
  width: 100% !important;
  padding-left: 5px !important;
}

.p-chips {
  display: block !important;
}

.p-chips-token {
  margin-bottom: 2px;
  margin-right: 4px;
}

/* wrapper */
.p-inputchips {
  display: block !important;
  width: 100% !important;
  padding-left: 5px !important;
}



/* individual tokens */
.p-inputchips-token {
  margin-bottom: 2px;
  margin-right: 4px;
}



.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}
.artcoded-navbar-color {
  background-color: #3b5784;
}
