<ng-container *ngIf="form">
  <div class="modal-header" *ngIf="activeModal">
    <span class="modal-title text-break">
      {{adminDoc?.title ? 'Edit ' + adminDoc?.title : 'New Document'}}
    </span>
    <button type="button" class="close" aria-label="Close"
            (click)="activeModal?.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group ">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>

      <div class="form-group ">
        <label for="description">Description</label>
        <textarea [autosize]="true" class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <div class="form-group ">
        <label for="tags">Tags</label>
        <p-chips id="tags" formControlName="tags" separator=","></p-chips>
      </div>

      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="drop($event)"
                     dropZoneClassName="flat bg-light d-block"
                     [multiple]="false">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <button id="dd" class="btn btn-primary mr-1" type="button" (click)="openFileSelector()"
                  *ngIf="!document && !adminDoc?.attachment">
            <fa-icon [icon]="['fas','upload']"></fa-icon>
          </button>
          <a class="btn btn-link" *ngIf="document || adminDoc?.attachment" (click)="openFileSelector()">
            {{document?.name ? document?.name : adminDoc?.attachment?.metadata?.name}}
          </a>
        </ng-template>
      </ngx-file-drop>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn  btn-primary mt-2"
                [disabled]="!form.valid || (!document && !adminDoc.attachmentId)">Submit
        </button>
      </div>
    </form>

  </div>
</ng-container>
