<app-title title="Rdf Utils" [uppercase]="true"></app-title>
<ul [activeId]="activeId" ngbNav="ngbNav" #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem="file-conversion">
    <a ngbNavLink routerLink="../file-conversion">File</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="File Conversion" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-file-to-file></app-file-to-file>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="string-conversion">
    <a ngbNavLink routerLink="../string-conversion">Text</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="String Conversion" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-string-to-lang></app-string-to-lang>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="shacl-validation">
    <a ngbNavLink routerLink="../shacl-validation">Shacl</a>
    <ng-template ngbNavContent>
      <div class="d-block">
        <app-title title="Shacl Validation" titleClass="h4" [uppercase]="true"></app-title>
      </div>
      <div class="d-block">
        <app-shacl-validation></app-shacl-validation>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

