<div class="postit-container d-flex flex-row overflow-auto p-1">
  <div *ngFor="let group of form.controls; let i = index" class="postit bg-light-secondary me-2 border shadow-sm">
    <form [formGroup]="getGroup(group)">
      <input type="hidden" formControlName="id" />
      <textarea
        formControlName="note"
        class="form-control border-0 no-focus bg-transparent"
        rows="4"
        placeholder="New postIt..."
      ></textarea>
      <div
        [class.justify-content-between]="group.get('updatedOn').value"
        [class.justify-content-end]="!group.get('updatedOn').value"
        class="d-flex align-items-center postit-footer"
      >
        <small class="text-muted" *ngIf="group.get('updatedOn').value">{{
          group.get('updatedOn').value | date: 'dd/MM/yy HH:mm'
        }}</small>
        <div class="btn-group btn-group-sm">
          <span class="btn btn-link text-muted p-1" (click)="saveOrUpdate(i)">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>
          </span>
          <span class="btn btn-link text-danger p-1" *ngIf="group.get('id').value" (click)="delete(i)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
