<ng-container>
  <div class="d-inline-block" ngbDropdown display="dynamic" placement="bottom-right">
    <a class="btn btn-link text-white no-focus" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </a>
    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
      <button ngbDropdownItem (click)="openPersonalInfoModal()">
        <fa-icon icon="edit"></fa-icon>
        Personal Info
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem (click)="openSmsModal()" *ngIf="hasRoleAdmin">
        <fa-icon icon="phone"></fa-icon>
        Send sms
      </button>
      <div class="dropdown-divider" *ngIf="hasRoleAdmin"></div>
      <a ngbDropdownItem target="_blank" [href]="frontOfficeUrl" *ngIf="frontOfficeUrl">
        <fa-icon icon="book-open"></fa-icon>
        Homepage
      </a>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem (click)="logout()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>&nbsp;Logout
      </button>
    </div>
  </div>
</ng-container>
